@import '../../../styles/variables';

.Header {
  padding-top: 1.25em;
  padding-bottom: 0.8em;

  @include profile-background-color();

  &.moderateur {
    .dropdown-menu {
      background-color: $color-blue;
    }
  }

  &.financeur {
    .dropdown-menu {
      background-color: $color-green;
    }
  }

    &.anonymous {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
        height: 107px;
        padding-top: inherit;
        position: relative;
    }

    .logo-pe, img.logo  {
        display: inline-block;
        height: 75px;
        vertical-align: middle;
    }

    .logo-pe {
        margin-top: 15px;
    }

    .logo-pe-mobile {
        display: none;
    }

  .nav {
    font-weight: $font-weight-400;

    .dropdown-menu {
      border: none;
      border-radius: unset;
      padding: 0;

      .dropdown-toggle {
        .active {
          opacity: 1;
          background-color: unset;
        }
      }

      .dropdown-item {
        display: inline;
        padding: 0.1rem 0.5rem;
        margin-left: 0.5rem;
        color: rgba(255, 255, 255, 0.6);

        &.active {
          color: rgba(255, 255, 255, 1);
          background-color: unset;
        }

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.19);
          border-radius: 5px;
        }
      }
    }

    .nav-link {
      color: $color-white;
      display: inline-block;
      opacity: 0.6;
      white-space: nowrap;
      padding: 0.5rem 1rem 0.5rem 1rem;

      &.active {
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }

  }


  .menu {
        margin-top: 15px;
        width: 180px;
        font-size: 1.15em;
        float: left;

        .content {
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
            border-radius: 5px;
            font-size: 0.8em;
            position: relative;
            top: -80px;
        }

        .bar {
            height: 3px;
            width: 32px;
            border-radius: 2px;
            display: none;
        }

        &.closed .icon-close {
            display: none;
        }
        
        &.open .icon-open {
            display: none;
        }
        
        a.unroll {
            outline: none;
            font-weight: bold;
            display: inline-block;
            margin-top: 30px;
            padding-bottom: 25px;
        }

        &.closed .content {
            display: none;
        }

        a {
            color:#24303A;
            text-decoration: none;
        }
        
        li {
            line-height: 25px;
        }

        ul {
            list-style: none;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
            position: absolute;
            top: 60px;
            background: white;
        }
        
        img {
            vertical-align: middle;
            width: 15px;
            margin-left: 10px;
        }
    }


  .account-link {
    color: white;
  }

  .logout {
    margin-top: 1px;
    border: 2px solid;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 0.825rem;
    font-weight: $font-weight-700;
    letter-spacing: 1px;
  }

}

@media (max-width: 740px) {
    .Header.anonymous {
        height: 48px;

        .logo, .logo-pe-mobile {
            height: 36px;
            margin-top: 5px;
        }

        .logo-pe-mobile {
            display: inline;
            margin-right: 16px;
        }

        .logo-pe {
            display: none;
        }

        .menu {
            display: none;
        }
    }
}