.App-header .helpLink {
    margin-right: 160px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}

.App-header .account-link {
    color: white;
    padding: 0px 15px;
    position: absolute;
    right: 165px;
    top: 20px;
}

.App-header a, .App-header a:hover {
    color: white;
}

.App-header .financeur-header {
    margin-left: 20px;
}

.App-header .financeur-header .financer-header-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #FFFFFF;
    opacity: 0.6;
}

.App-header .financeur-header .stats-link {
    padding: 5px;
    margin-left: 100px;
    font-size: 2em;
    font-weight: 900;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid transparent;
    border-radius: 5px;
}

.App-header .financeur-header .stats-link:hover {
    background-color: #337ab7;
}


