@import 'src/common/styles/variables';

.Organisme {

  padding-top: 1rem;

  .raison-sociale {
    opacity: 0.87;
    color: $color-black;
    font-size: 1rem;
    font-weight: $font-weight-700;
    margin-bottom: 0.5rem;
  }

  .siret {
    opacity: 0.87;
    color: $color-grey-50;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .score {
    padding-top: 1rem;
    opacity: 0.87;
    color: $color-grey-50;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .status {
    padding-top: 1rem;
    opacity: 0.87;
    color: $color-green;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &.inactive {
      color: $color-red;
    }
  }

  .email {
    padding-top: 1rem;
    opacity: 0.87;
    color: $color-black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    overflow-wrap: break-word;
  }

  .btn-group-vertical {
    display: contents;

    button {
      width: 100%;
      margin-bottom: 0.7rem;
    }
  }
}
