@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../common/styles/variables";

.Questionnaire {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-400;
  color: $color-black;
  background-color: $color-white;

}
