@import '../../../../../../styles/variables';

.carousel__indicator {
    display: block;
    width: 24px;
    height: 3px;
    background-color: $color-dark;
    cursor: pointer;
    opacity: .15;
    transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

    &:hover {
        opacity: .5;
    }

    &--active {
        &,
        &:hover {
        opacity: .75;
        }
    }
}
