@import '../styles/variables';

.filter {

  .title {
    height: 22px;
    width: 40px;
    color: $color-black;
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.375rem;
  }
}
