@import '../styles/variables';

.Header {
    height: 80px;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(17,24,30,0.1);
    display: grid;
    grid-template-columns: 30% 40% auto;

    .title {
        grid-column: 2;
        font-size: 1.125rem;
        font-weight: $font-weight-700;
        padding: 0px 150px 0px 150px;

        .avis-title, .organismes-title {
            margin-top: 25px;
            cursor: pointer;
            height: 1.8125rem;
            font-family: Lato;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.8125rem;
            color: #90969B;

            &:hover {
                color: $color-black;
            }
        }

        .active {
            color:$color-black;
        }
    }

    .logo {
        grid-column: 1;
        height: 56px;
        width: 119.86px;
        margin: 12px 0px 0px 165px;
    }
}

