@import 'src/common/styles/variables';

.Backoffice .Page {

  height: 100%;

  .search-holder {

    @include themes();

    padding-bottom: 1rem;

    .title-holder {
      padding-bottom: 0.5rem;
      font-size: 2em;
      font-weight: $font-weight-boldest;
      line-height: 2.5rem;
      text-align: center;
      color: $color-white;
    }

    .form-holder {
      padding-bottom: 1rem;
    }
  }

  .panel-holder {
    height: 100%;
  }
}
