@import "node_modules/bootstrap/scss/bootstrap";
@import 'src/common/styles/variables';

.Backoffice {

  min-width: 320px;

  .a-icon {
    margin-right: 0.25rem;

    &.right {
      margin-right: 0.25rem;
    }

    &.left {
      margin-left: 0.25rem;
    }
  }

  .a-text-important {
    color: $color-red !important;
  }

  .a-width-50 {
    width: 50%;
  }

  .a-green {
    color: $color-green;
  }

  .a-blue {
    color: $color-blue;
  }
}
