@import "../../styles/variables";

.Tooltip {
  display: inline;
  padding-left: 0.25rem;

  .icon {
    position: relative;
    font-size: 0.875rem;

    i {
      font-size: 0.75rem;
      color: $color-black-80;
      top: -2px;
      cursor: pointer;
    }

    .triangle {
      width: 0;
      height: 0;
      position: absolute;
      margin-top: -3px;
      border-style: solid;
      border-width: 0 7.5px 10px 7.5px;
      border-color: transparent transparent $color-grey-5 transparent;
    }
  }

  .box {
    position: absolute;
    margin-top: 6px !important;
    z-index: 1000;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    .message {
      padding: 5px;
      line-height: 18px;
      font-size: 0.875rem;
      color: $color-black-80;
      background-color: $color-grey-5;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
