@import 'src/common/styles/variables';

.Backoffice .Pie {

  height: 130px;

  .empty {
    text-align: center;
    font-size: 0.875rem;
    color: $color-black-60;
  }

  .tooltip {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .Backoffice .Pie {
    height: 60px;
  }
}

@media screen and (max-width: 375px) {
  .Backoffice .Pie {
    height: 32px;
    margin-left: -56px;
  }
}
