@import 'src/common/styles/variables';

.Backoffice .Filter {

  &.nav-item {

    position: relative;

    &.active {
      text-decoration: underline;

      &:hover, &:focus {
        font-weight: $font-weight-normal;
      }
    }

    &:hover, &:focus {
      cursor: pointer;
      font-weight: $font-weight-bold;
    }

    .nav-link {
      color: $color-black;
    }
  }
}
