@import '../../../../../styles/variables';

.Avis {
  min-height: 10rem;

  &.card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    border-bottom: 0.1rem solid $color-grey-5;
  }

  .stagiaire-actions {
    span:first-child {
      margin-right: 1rem;
    }
  }
}

