@import '../../../../styles/variables';

.Header {
  padding-top: 0.8em;
  padding-bottom: 1.75em;

  @include profile-background-color();

  &.moderateur {
    .dropdown-menu {
      background-color: $color-blue;
    }
  }

  &.financeur {
    .dropdown-menu {
      background-color: $color-green;
    }
  }

  .nav {
    font-weight: $font-weight-400;

    .dropdown-menu {
      border: none;
      border-radius: unset;
      padding: 0;

      .dropdown-toggle {
        .active {
          opacity: 1;
          background-color: unset;
        }
      }

      .dropdown-item {
        display: inline;
        padding: 0.1rem 0.5rem;
        margin-left: 0.5rem;
        color: rgba(255, 255, 255, 0.6);

        &.active {
          color: rgba(255, 255, 255, 1);
          background-color: unset;
        }

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.19);
          border-radius: 5px;
        }
      }
    }

    .nav-link {
      color: $color-white;
      display: inline-block;
      opacity: 0.6;
      white-space: nowrap;
      padding: 0.5rem 0.5rem 0.5rem 1rem;

      &.active {
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }

    .badge.pastille {
      background-color: $color-red;
      color: $color-white;
      border-radius: 10px;
      font-size: 0.7em;
      padding: 0.3em 0.6em;
    }
  }

  .account-link {
    color: white;
  }

  .logout {
    margin-top: 1px;
    border: 2px solid;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 0.825rem;
    font-weight: $font-weight-700;
    letter-spacing: 1px;
  }

}
