@import '../../../styles/variables';

.Avis .Stagiaire {

  font-size: 1rem;

  .togglable {
    cursor: pointer;
    font-size: 12px;
  }

  .masked {
    opacity: 0.5;
    color: $color-grey-50;
  }

  .stars {
    font-size: 0.875rem;
    letter-spacing: 5px;
    color: $color-yellow;

    &.empty {
      color: $color-grey-25;
    }
  }

  .reconciliation {
    display: inline;

    i {
      font-size: 0.75rem;
      color: $color-green;
      margin-left: 0.25rem;
    }
  }

  .date {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-grey-50;
  }

  .status {
    display: inline;

    &.validated {
      color: $color-green;
    }

    &.rejected {
      color: $color-red;
    }

    &.reported {
      color: $color-red;
    }

    &.toModerate {
      color: $color-blue;
    }
  }
}

