@import '../../../styles/variables';

.Avis .Stagiaire {

  font-size: 1rem;

  .togglable {
    cursor: pointer;
    font-size: 12px;
  }

  .pseudo {
    font-size: 0.875rem;
    font-weight: $font-weight-700;
    color: $color-black;
  }

  .masked {
    opacity: 0.5;
    color: $color-grey-50;

    &.pseudo {
      text-decoration: line-through;
    }
  }

  .stars {
    font-size: 0.875rem;
    letter-spacing: 5px;
    color: $color-yellow;

    &.empty {
      color: $color-grey-25;
    }
  }

  .by {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: $color-grey-50;
  }

  .date {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-grey-50;
  }

  .status {

    &.published {
      color: $color-green;
    }

    &.rejected {
      color: $color-red;
    }

    &.toModerate {
      color: $color-blue;
    }
  }
}

