@import '../../../styles/variables';

.Avis .Status {
  font-size: 0.75rem;
  line-height: 1rem;

  .validated, .reconciliated {
    display: inline;
    color: $color-green;
  }

  .rejected {
    display: inline;
    color: $color-red;
  }

  .reported {
    display: inline;
    color: $color-red;
  }

  .none {
    display: inline;
    color: $color-blue;
  }

  .date {
    display: inline;
    color: $color-grey-50;
  }
}

