# This file is for dev only and is ignored on other environments.
# It can be overridden locally by creating a file named docker-compose.local.yml

version: '2.4'
services:

  nginx:
    volumes:
      - ./.data/nginx:/data:rw

  ui:
    build:
      args:
        - ANOTEA_ENV=dev
        - ANOTEA_GOOGLE_ANALYTICS_ID=1234
        - ANOTEA_HOTJAR_ID=1234

  backend:
    build: 
      network: host
    volumes:
      - ./backend:/opt/anotea/backend:ro
      - ./.data/imports:/data/imports:ro
      - ./.data/exports:/data/exports
    environment:
      - ANOTEA_MONGODB_URI=mongodb://mongodb:27017/anotea?w=1
      - ANOTEA_SMTP_HOST=smtp
      - ANOTEA_SMTP_PORT=1025
    depends_on:
      - mongodb
      - smtp

  mongodb:
    image: mongo:8-noble
    container_name: anotea_mongodb
    command: --wiredTigerCacheSizeGB 1
    mem_limit: 1g
    volumes:
      - ./.data/mongodb/db:/data/db
      - ./.data/mongodb/config:/data/configdb
      - ./.data/backups/mongodb:/data/backups
  smtp:
    image: mailhog/mailhog
    container_name: anotea_smtp
    ports:
      - 8024:8025
    environment:
      - MH_UI_WEB_PATH=mailhog
