@import 'src/common/styles/variables';

.Backoffice .CenteredForm {

  label {
    font-size: 1rem;
    font-weight: $font-weight-bold;
  }

  .title {
    font-size: 1.5rem;
    font-weight: $font-weight-boldest;
    text-align: center;
  }

  .clarification {
    color: $color-black-60;
    font-size: 0.875rem;

    a {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .contactez-nous {
      color: $color-blue;
    }
  }
}
