@import 'src/common/styles/variables';

.Backoffice .Form {

  @include box();

  legend {
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
  }

  label {
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
  }

  .buttons {
    margin-bottom: 0;
  }
}
