@import 'src/common/styles/variables';

.Backoffice .Periode {
  padding: 0.50rem 0.30rem;
  background-color: $color-grey-5;
  border: 1px solid $color-grey-5;
  border-radius: 6px;

  .au {
    font-weight: $font-weight-bold;
  }

  .clear {
    &:hover {
      color: $color-grey-50;
    }
  }
}
