@import 'src/common/styles/variables';

.combobox-list {
  position: relative;
}

.expand-button {
  padding-bottom: 4px !important;
}

.combobox .group {
  display: inline-flex;
  box-shadow: unset;
  border: 1px solid $color-black;
  border-radius: 6px;
  padding: .3rem;
  width: 100%;
  height: 49px;
}

.combobox input,
.combobox button {
  color: black;
  box-sizing: border-box;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
}


.combobox input {
  width: 150px;
  outline: none;
  font-size: 87.5%;
  padding: 1px 3px;
  border: none;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 38px;
}

/* Placeholder styles */
.combobox input::placeholder {
  color: black;
  text-shadow: 0 0 0 gray;
  opacity: 1;
}

.combobox input::-webkit-input-placeholder {
  color: black;
  text-shadow: 0 0 0 gray;
  opacity: 1;
}

.combobox input:-ms-input-placeholder {
  color: black;
  text-shadow: 0 0 0 gray;
  opacity: 1;
}

.combobox input::-ms-input-placeholder {
  color: black;
  text-shadow: 0 0 0 gray;
  opacity: 1;
}

.combobox input:focus {
  border: 2px solid currentcolor;
  border-radius: 4px;
}

.combobox button {
  width: 19px;
  border: none;
  outline: none;
  color: #11181E;
  background-color: white;
  height: 100%;
}

.combobox button:focus {
  border: 2px solid currentcolor;
  border-radius: 4px;
}

.combobox button[aria-expanded="true"] svg {
  transform: rotate(180deg) translate(0, -3px);
}

ul[role="listbox"] {
  display: none;
  max-height: 250px;
  overflow-y: auto; 
  top: 100%;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  margin-bottom: 8px;
  margin-top: 8px;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

ul[role="listbox"].open {
  display: block;
}

ul[role="listbox"] li[role="option"] {
  margin: 0;
  display: block;
  padding: .5rem;
  font-size: .875rem;
  border-bottom: 1px solid #c8cbce;
}

ul[role="listbox"] li[role="option"].focused {
  background-color: #c8cbce;
}

/* focus and hover styling */
.combobox.focus {
  border: 2px solid currentcolor;
  border-radius: 4px;
}

.combobox .group.focus polygon,
.combobox .group:hover polygon {
  fill-opacity: 1;
}

.no-results {
  padding: .5rem;
  font-size: .875rem;
  color: #999;
  text-align: center;
}
