@import 'src/common/styles/variables';

.Backoffice .Select {

  .Select__control {
    background-color: $color-grey-5;
    box-shadow: unset;
    border: 1px solid $color-grey-5;
    border-radius: 6px;
    padding: 0.30rem;
  }

  .Select__single-value {
    font-size: 1rem;
    color: $color-black;
  }

  .Select__control--is-focused {
    background-color: $color-grey-5;
    box-shadow: 0 0 1px 3px #C3C9E5;
  }

  .Select__clear-indicator {
    padding-right: 0;
  }

  .Select__option {
    padding: 0.5rem;
    font-size: 0.875rem;
    border-bottom: solid 1px $color-grey-5;
  }

  .Select__option--is-focused {
    background-color: $color-grey-5;
  }

  .Select__option--is-selected {
    background-color: $color-grey-25;
  }

  .Select__indicator {
    color: $color-black;
  }

  .Select__indicator-separator {
    width: 0;
  }

  .Select__meta {
    font-size: 0.75rem;
    color: $color-black-60;
  }

  .Select__label {
    color: $color-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Select__label--with-meta {
    max-width: 85%;
  }
}
