
.footer {
    width: 80%;
    margin: auto;
    height: 150px;
    padding: 60px;
    text-align: center;
}

.footer a {
    line-height: 70px;
    padding: 0px 20px;
    color: #373B46;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: none;
}

.footer .logo {
    margin: 15px  50px 15px 150px;
    display: inline;
    vertical-align: middle;
}

.footer .logo-pe {
    display: inline-block;
    height: 75px;
    vertical-align: middle;
}

@media (max-width: 740px) {
    .footer {
        padding: 0;
    }

    .footer .logo {
        margin: 0px 20px 0px 0px;
    }

    .footer .logo-pe,.footer .logo {
        height: 36px;
    }

    .footer a {
        padding: 0px 5px;
        font-size: 0.9em;
    }
}