body {
    padding: 0px;
    margin: 0px;
    font-family: Lato;
    font-weight: normal;
    margin: 0;
    color: #24303A;
}

.button {
    display: inline-block;
    position: relative;
    margin: 0px;
    margin-left: 0px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: #29333C;
    box-shadow: none;
    border: none;
    font-size: 0.9em;
    padding: 12px 20px 0px 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.video {
    width: 100%;
    background-color: #D8D8D8;
}

.title {
    color: #F0801A;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
}

.content-intro {
    padding-top: 100px;
}

.content-intro {
    width: 85%;
    margin: auto;
    padding-left: 15%;
    height: 450px;
}

.content-intro p {
    width: 50%;
}

.content-intro .stagiaire, .content-intro .organisme {
    display: inline-block;
    width: 30%;
}
.content-intro .stagiaire {
    margin-left: 20px;
    margin-right: 200px;
}

.content-intro .organisme {
    text-align: right;
}

.content-intro .organisme p {
    margin-left: 50%;
}

.content-intro h2 {
    font-weight: normal;
}

.content-intro .stagiaire h2 {
    color: #384EAA;
}

.content-intro .stagiaire .button {
    background-color: #384EAA;
}
.content-intro .illustration {
    position: relative;
    top: -280px;
    z-index: -1;
}

.stats {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.stats > div {
    display: inline-block;
    width: 30%;
}

.stats h2 {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 0;
}

.stats h3 {
    font-size: 32px;
    margin-bottom: 5px;
}

.stats .avis h3  {
    color: #F28017;
}

.stats .organismes h3  {
    color: #007E54;
}

.stats .stagiaires h3  {
    color: #384EAA;
}

.stats p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.services {
    text-align: center;
    padding-bottom: 40px;
    width: 60%;
    margin: auto;
}

.services h1 {
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 32px;
}

.services img {
    margin: auto;
    position: relative;
    top: -38px;
}

.services h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0px;
}

.services ul {
    margin: auto;
    padding: 0px;
    margin-top: 60px;
}

.services li {
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.services li.last {
    margin-right: 0;
}

.services p {
    padding: 0px 10px 0px 10px;
    opacity: 0.8;
    font-size: 14px;
}

.services .organismes a {
   color: #F28017;
}

.services .financeurs a {
    color: #007E54;
 }

 .services .stagiaires a {
    color: #384EAA;
 }

.partenaires {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #F4F4F5;
}

.partenaires h2 {
    font-weight: 900;
    font-size: 32px;
    color: #24303A;
    text-align: center;
}

.partenaires img {
    margin: 20px;
    vertical-align: middle;
}

#cookie-bar-prompt-content {
    display: none;
}

@media (min-width: 1024px) {
    .title, .confiance h1, .services h1, .retrouver h1, .donnees h1 {
        font-size: 32px;
    }

    .video {
        height: 546px;
    }

    .content-how ul {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .title, .confiance h1, .services h1, .retrouver h1, .donnees h1 {
        font-size: 12px;
    }

    .video {
        height: 415px;
    }

    .content-how ul {
        width: 700px;
    }

    .services ul {
        width: 724px;
    }

    .services li {
        width: 215px;
        margin-right: 35px;
        height: 455px;
    }

    .donnees ul {
        width: 700px;
    }

    .donnees li {
        width: 200px;
        margin-right: 40px;
    }
}

@media (max-width: 740px) {
    .title, .confiance h1, .services h1, .retrouver h1, .donnees h1 {
        font-size: 30px;
    }

    .video {
        height: 180px;
    }

    .content-how ul {
        width: 320px;
    }

    .services {
        padding-bottom: 0px;
    }

    .services ul {
        width: 215px;
    }

    .services li {
        width: 215px;
        margin-right: 35px;
        height: inherit;
        margin-bottom: 60px;
    }

    .confiance p {
        padding: 0px 15px 0px 15px;
    }

    .content-how li {
        height: 180px;
    }

    .content-how li.hide {
        display: none;
    }

    .content-how .nav {
        display: inherit;
    }
}
