@import '../../styles/variables';

.LoginPage {

    .title {
        color: $color-black;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .mot-de-passe-oublie {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .Button.login {
        width: max-content;
        margin: auto;
    }

    .help {
        margin-bottom: 1rem;
    }

    .Form {
        border-radius: 5px;
    }
}
