<link rel="stylesheet" type="text/css" href="/static/css/front/contact.css" media="all">
<div class="contact">
    <h1>Une question ? <br /> Un doute ?</h1>
    <p><a href="#" class="open-modal-contact" title="Contactez-nous">Contactez-nous</a></p>
</div>