@import 'src/common/styles/variables';

.Backoffice .Panel {

  @include themes();

  &.grey {
    background-color: $color-grey-5;
  }

  height: 100%;
  background-color: $color-white;
  padding-bottom: 3rem;

  .filters-holder {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background-color: $color-grey-5;
  }

  .summary-holder {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .pagination-holder {
    margin-top: 2rem;
  }
}
