@import '../../../../styles/variables';

.CenteredForm {

  label {
    font-size: 1rem;
    font-weight: $font-weight-700;
  }

  .title {
    font-size: 1.5rem;
    font-weight: $font-weight-900;
    text-align: center;
  }

  a {
    color: $color-orange;
    }

    a:hover {
        color: $color-black;
    }

  .clarification {
    color: $color-black-60;
    font-size: 0.8rem;

    a {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

  }

  hr {
    width: 100%;

    &.grey {
        border-top: 2px solid $color-grey-50;
        margin-top: 0;
    }
    
    &.grey-5 {
        border-top: 2px solid $color-grey-5;
    }
   }

}
