<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="icon" type="image/png" href="/static/images/favicon_noteo.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/front/cgu.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    </head>

    <body class="cgu">
        <%- include('../../views/front/header.ejs'); %>

        <h1>Conditions Générales d’Utilisation</h1>

        <div class="main cgu">
            <h2>Mentions légales</h2>

            <h3>&Eacute;diteur</h3>
                
            <p>15 avenue du Docteur Gley<br />
            75987 Paris cedex 20<br />
            Tél. 01 40 30 60 00</p>

            <h3>Directeur de la publication :</h3>
            <p>
                Monsieur Jean Bassères, Directeur général.
            </p>

            <h3>Hébergeur</h3>
                
            <p>OVH<br />
            2 rue Kellermann<br />
            59100 Roubaix<br />
            Tél. 09 72 10 10 07</p>

            <h3>1. Objet et fonctionnement du service </h3>

            <p>Les utilisateurs, après y avoir été invités par courrier électronique, peuvent participer à une enquête
                et donner
                leur avis sur la formation qu’ils ont suivie. L’enquête est composée de 5 questions, les stagiaires
                pouvant attribuer
                une note allant de 1 (minimum) à 5 (maximum) qui seront diffusées avec la note moyenne calculée à partir de ces notes. Ces avis sont publiés de manière
                anonyme sur
                des sites internet partenaires (ex.
                <a href="https://labonneformation.pole-emploi.fr/">La bonne formation</a> et
                <a href="https://www.defi-metiers.fr/">Défi métiers</a>)
                et l’appli mobile Ma Formation.
            </p>
            <p>Les organismes de formation peuvent répondre aux avis les concernant. Leurs réponses sont
                soumises
                aux dispositions de l’article 4 relatif à la publication et à la modération des avis.</p>
            <p>En fonction des notes et avis émis, Pôle emploi peut solliciter l’émetteur de l’avis ou l’organisme de
                formation
                concerné pour recueillir des éléments d’analyse complémentaires.</p>

            <h3>2. Données personnelles </h3>

            <p>Aucune donnée personnelle n’est collectée sur le site internet Anotéa.</p>
            <p>Les utilisateurs qui ont consenti à être contactés par de futurs stagiaires le sont via un formulaire de
                contact.
                Leurs coordonnées ne sont pas transmises par Pôle emploi aux futurs stagiaires.</p>
            <p>Les notes et avis sont susceptibles d’être diffusés pendant 2 ans. Ils sont conservés de manière anonyme
                pendant
                de 10 ans.</p>

            <h3>3. Cookies</h3>
            <p>
                <a href="https://anotea.pole-emploi.fr">anotea.pole-emploi.fr</a> utilise des cookies. Ces cookies
                enregistrent uniquement des informations relatives
                à la navigation de l’utilisateur sur le site Web
                <a href="https://anotea.pole-emploi.fr">anotea.pole-emploi.fr</a> dans un but d’analyses statistiques.
                En aucun cas, anotea.pole-emploi.fr/ ne peut identifier
                un utilisateur par un cookie. Ces cookies sont émis par la société Google.</p>
            <p>La durée de conservation des informations relatives à la navigation est de 3 ans.</p>
            <p>Les informations de session sont supprimées dès la déconnexion.</p>
            <p>L’utilisateur peut s’opposer à l'enregistrement de cookies sur son ordinateur en configurant son poste
                informatique
                de la manière suivante :</p>

            <div>
                <strong>Pour Microsoft Internet Explorer 6.0 et + :</strong>
                <ol>
                    <li>1 - Choisir le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options")</li>
                    <li>2 - Cliquer sur l'onglet "Confidentialité" (ou "Confidentiality")</li>
                    <li>3 - Sélectionner le niveau souhaité à l'aide du curseur ou cliquer sur le bouton "Avancé" pour
                        personnaliser
                        la gestion des cookies.
                    </li>
                </ol>
            </div>

            <div>
                <strong>Pour Firefox 3.5 et + :</strong>
                <ol>
                    <li>1 - Choisir le menu "Outils" (ou "Tools"), puis "Options "</li>
                    <li>2 - Cliquer sur l'onglet "Vie privée"</li>
                    <li>3 - Dans « Règles de conservation », sélectionner « Utiliser les paramètres personnalisés pour
                        l’historique »
                        et décocher le bouton "Accepter les cookies".
                    </li>
                </ol>
            </div>

            <div>
                <strong>Pour Chrome :</strong>
                <ol>
                    <li>1 - Choisir le menu "Outils" (ou "Tools"), puis "Options "</li>
                    <li>2 - Cliquer sur l'onglet "Options avancées"</li>
                    <li>3 - Dans « Paramètres de contenu », cocher le bouton « Interdire à tous les sites de stocker les
                        données ».
                    </li>
                </ol>
            </div>

            <div>
                <strong>Pour Netscape 6.X et 7.X :</strong>
                <ol>
                    <li>1 - Choisir le menu "Edition" > "Préférences"</li>
                    <li>2 - Confidentialité et Sécurité</li>
                    <li>3 - Cookies</li>
                </ol>
            </div>

            <div>
                <strong>Pour Opéra 6.0 et au-delà :</strong>
                <ol>
                    <li>1 - Choisir le menu "Fichier" > "Préférences"</li>
                    <li>2 - Vie Privée</li>
                </ol>
            </div>

            <p>A défaut, l’utilisateur accepte les cookies en poursuivant sa navigation.</p>

            <h3>4. Publication et modération des avis. </h3>
            <p>Les avis déposés doivent être en rapport direct avec la formation suivie par l’utilisateur, dans le cas où le commentaire ne concerne pas directement la formation, seules les notes sont publiées. Afin d’être le plus exhaustif possible, l‘utilisateur est invité à expliquer les points positifs et négatifs qu’il exprime dans son avis.</p>
            <p>Afin d’éviter la publication d’avis injurieux ou inappropriés, une modération est effectuée avant la publication des avis. L’utilisateur dont la publication de l’avis est rejetée pour injure en est informé. Il peut demander à recevoir un nouveau questionnaire pour déposer un nouvels avis.</p>
            <p>L’utilisateur s’engage à ne pas, par la publication de son avis exprimer d’opinions, politiques, religieuses, philosophiques ou contraires aux bonnes mœurs. Il s’engage également à ne pas intégrer à son avis de liens hypertextes vers des sites internet tiers.</p>
            <p>Par ailleurs, l’utilisateur reconnait être informé qu’est interdite et passible de sanctions pénales la
                publication
                d’avis et propos ayant pour objet de :
            <ul>
                <li>faire l’apologie de crimes contre l’humanité ;</li>
                <li>inciter à la commission d’acte de terrorisme ou faire leur apologie ;</li>
                <li>inciter à haine raciale ;</li>
                <li>inciter à la haine à l’égard de personnes à raison de leur sexe, de leur orientation ou identité
                    sexuelle
                    ;
                </li>
                <li>inciter à la haine à l’égard de personnes à raison de leur handicap ;</li>
                <li>diffuser de la pornographie, notamment enfantine ;</li>
                <li>inciter à la violence, notamment, aux violences faites aux femmes ;</li>
                <li>porter atteinte à la dignité humaine ;</li>
                <li>proférer des injures ;</li>
                <li>alléguer ou imputer un fait qui porte atteinte à l'honneur ou à la considération d'une personne
                    (diffamation) ;
                </li>
                <li>porter atteinte à la vie privée d’un tiers ;</li>
                <li>porter atteinte aux droits de propriété intellectuelle des tiers.</li>
            </ul>
            <p>Tout avis contraire aux présentes conditions d’utilisation est supprimé par Pôle emploi. </p>

            <p>Après leur publication, les avis peuvent être signalés, en cliquant sur le bouton ‘signaler’, par
            tout utilisateur
            qui considère que l’avis est contraire à la loi ou aux conditions d’utilisation du site Anotéa.</p>

            <h2>5. Responsabilité</h2>

            <p> Pôle emploi ne peut être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute nature,
                directs ou
                indirects, résultant de l’utilisation du site internet anotea.pole-emploi.fr, ni de l’impossibilité d’y
                accéder.</p>

            <h2>6. Obligations de l’utilisateur</h2>

            <p>L’utilisateur reconnaît avoir pris connaissance et accepter les présentes conditions d’utilisation
            avant toute
            utilisation du site.</p>
            <p>L’utilisation du site internet anotea.pole-emploi.fr est soumise au respect par l’utilisateur de la
            législation
            française et des présentes conditions d’utilisation,</p>
            <p>Les présentes conditions d’utilisation peuvent être modifiées à tout moment ; la date de mise à jour
            est mentionnée.
            Ces modifications sont opposables à l’utilisateur dès leur mise en ligne sur le site
            internet anotea.pole-emploi.fr.
            L’utilisateur est donc invité à consulter régulièrement la dernière version mise à jour.</p>

            <h3>7. Propriété intellectuelle</h3>

            <p>Le site web anotea.pole-emploi.fr  est protégé au titre des dispositions relatives au droit d’auteur
                défini aux articles
                L.111-1 et suivants du code de la propriété intellectuelle. Pôle emploi est titulaire de l’ensemble des
                droits
                de propriété intellectuelle sur les éléments composant le site.</p>

            <p>Sans préjudice des dispositions prévues à l’article L.1225 du code de la propriété intellectuelle, toute
                représentation,
                reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans
                l'autorisation
                expresse et préalable de Pôle emploi constitue un acte de contrefaçon, sanctionné au titre des articles
                L.335-2
                et L.335-3 du même code.</p>

            <p>Par ailleurs, la marque Pôle emploi est protégée au titre des articles L.712-1 et suivants du code de la
                propriété
                intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque
                Pôle emploi,
                sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un
                acte de
                contrefaçon, sanctionné au titre des articles L.716-1 du même code.</p>
        </div>
        <%- include('../../views/front/footer.ejs'); %>
        <%- include('../../views/analyticsTrackers.ejs'); %>
    </body>

</html>
