<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/front/home.css" media="all">
</head>
<body>
    <div class="pe-connect">

        <%if (cancelled) { %>
            <span>Connexion annulée</span>
        <% } %>

        <%if (failed) { %>
            <span>Connexion échouée</span>
        <% } %>

        <%if (notFound) { %>
            <span>Pas de formation trouvée</span>
        <% } %>

        <a href="<%= connectionLink %>" class="button-pe-connect"
            title="Connectez-vous &agrave; Anotéa en utilisant des identifiants p&ocirc;le emploi et b&eacute;n&eacute;ficiez d'un acc&egrave;s gratuit &agrave; ce service.">
            <img class="icon-pe-connect" src="/static/images/peconnect/pe-connect-barre-nav-b.svg"
                alt="Ic&ocirc;ne P&ocirc;le emploi" width="300" height="75" />
            <img class="icon-pe-connect-hover" src="/static/images/peconnect/pe-connect-barre-nav-b-o.svg"
                alt="Ic&ocirc;ne P&ocirc;le emploi" width="300" height="75" />
        </a>
    </div>
</body>

</html>