<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="icon" type="image/png" href="/static/images/favicon_noteo.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/front/pages.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <a href="/">
                <img class="logo" src="/static/images/logo_Anotea_Horizontal_baseline2.png" />
            </a>
        </div>

        <div class="main">
            <div class="head">
                <h1>Foire aux questions</h1>

                <div class="links">
                    <a href="#organisme">Vous êtes un organisme de formation</a>
                    <a href="#ancienStagiaire">Vous êtes un ancien stagiaire</a>
                    <a href="#nouveauStagiaire">Vous êtes un nouveau stagiaire</a>
                </div>
            </div>

            <div class="block even">
                <a name="organisme"></a>
                <h2>Vous êtes un organisme de formation</h2>

                <h3>A quel moment de la formation le stagiaire peut-il donner une évaluation ?</h3>

                <p>Le stagiaire reçoit un mail l’invitant à donner son avis une fois la formation terminée, même s’il
                    a terminé de façon anticipée.</p>

                <h3>Sous quel délai après la formation est envoyé le questionnaire ?</h3>

                <p>Le questionnaire est envoyé au stagiaire sous 7 jours ouvrés.</p>

                <h3>Quelles sont les points que doivent évaluer les anciens stagiaires à l'issue de leur formation
                    ?</h3>

                <p>Les 6 points pour lesquels les anciens stagiaires sont invités à mettre de 1 à 5 étoiles sont les
                    suivants :</p>

                <ul>
                    <li><strong>Accueil</strong>
                        <p>Réunions d'information collective et entretiens à l'entrée en formation</p></li>

                    <li><strong>Contenu de la formation</strong>
                        <p>Programme, supports pédagogiques, organisation de modules, alternance théorie/pratique</p>
                    </li>

                    <li><strong>Équipe de formateurs</strong>
                        <p>Prise en compte du besoin des stagiaires</p></li>

                    <li><strong>Moyens matériels mis à disposition</strong>
                        <p>Salles de cours, documentation, plateaux techniques, équipement informatique</p></li>

                    <li><strong>Accompagnement</strong>
                        <p>Aide à la recherche de stage/emploi, mise en relation et rencontre avec les entreprises</p>
                    </li>

                    <li><strong>Avis global</strong>
                        <p>Opinion générale sur la formation réalisée</p></li>
                </ul>

                <h3>Est-ce qu’Anotéa vérifie que les avis sont réels ?</h3>

                <p>Pôle emploi et la Région Île-de-France s’assurent que les avis recueillis sont ceux d’anciens
                    stagiaires ayant effectivement effectué la formation. Ils identifient à partir de leurs fichiers les
                    stagiaires ayant suivi une formation pour leur transmettre un questionnaire à l’issue</p>

                <h3>Les Organismes de formation ont-ils un droit de réponse ? Comment l’exercer ?</h3>

                <p>Oui les organismes de formation ont la possibilité de commenter librement les avis des stagiaires, à
                    partir d’un Back-office qui est mis à leur disposition.</p>

                <h3>Est-il possible de connaître l’identité du stagiaire qui a posté l’avis ?</h3>
                <p>Non, l’identité du stagiaire restera anonyme.</p>

                <h3>Comment sont modérés les avis ?</h3>
                <p>Vous trouverez toutes les informations sur les conditions de publication des avis sur ce lien : <a
                            href="http://anotea.pole-emploi.fr/cgu">http://anotea.pole-emploi.fr/cgu</a></p>

                <h3>Comment consulter les avis des stagiaires ?</h3>
                <p>Les organismes ont la possibilité de consulter les avis concernant les formations qu’ils ont
                    réalisées depuis le back-office dédié</p>

                <h3>Où sont publiés les avis ?</h3>
                <p>Les avis sont publiés aujourd’hui sur les deux sites partenaires : <a
                            href="https://www.defi-metiers.fr/">Défi métiers</a> et <a
                            href="https://labonneformation.pole-emploi.fr/">La bonne formation</a>.</p>

                <h3>Est-il possible d’afficher un avis positif sur notre site ?</h3>
                <p>Oui, le service Anotéa est construit sous forme d’API donc il est possible, via un contrat de
                    licence, d’obtenir cette API pour afficher l’ensemble des avis sur le site de l’OF. Cette API sera
                    accessible via l’Emploi Store Développeurs</p>

                <h3>Suis-je en droit de m'opposer à la mise en ligne d'avis sur mon OF?</h3>
                <p>Les commentaires publiés sont modérés en amont, les OF n’ont pas la possibilité de s’opposer à la
                    mise en ligne d’un avis, mais peuvent y répondre depuis le back-office dédié, et cette réponse sera
                    publiée.</p>

                <h3>Combien faut-il d’avis négatifs pour qu’une action corrective se déclenche ?</h3>
                <p>Le déclenchement d’actions correctives se fait au cas par cas, en fonction du nombre de retours
                    négatifs, du contenu de ces retours et des notes émises.</p>

                <h3>Est qu’un bilan des notes et avis sera délivré aux Organisme de Formation ?</h3>

                <p>A travers l’accès au back-office, les Organismes de Formation pourront accéder à l’ensemble des avis
                    et notes les concernant.</p>

                <h3>Est-ce que Anotéa remplacera les bilans de satisfaction à saisir sur SAFIR que nous réalisons déjà
                    en fin de formation?</h3>

                <p>Les bilans de satisfaction réalisés en fin de formation sont remplacés par le recueil des avis via
                    Anotéa et ne sont pas à ressaisir dans SAFIR pour la Région.</p>

                <h3>Comment est actualisé votre catalogue qualité ?</h3>
                <p>Anotéa n’a pas de lien avec la constitution des catalogues qualité. Par ailleurs, il ne présentera
                    les avis que des organismes qui proposeront des sessions à venir.</p>

                <h3>Cela va-t-il donner lieu à un classement des Organismes de formation ?</h3>

                <p>Le service Anotéa n’a pas pour objectif de réaliser un classement des organismes de formation.</p>

                <h3>Le service Anotéa peut-il être utilisé par les financeurs comme un label de qualité ?</h3>

                <p>Le service Anotéa ne délivre pas un label de qualité, cela est néanmoins un outil utilisable par les
                    financeurs dans l’actualisation du catalogue.</p>

                <h3>Les avis positifs sur Anotéa auront-ils un impact sur les notes de "La Bonne Formation" ?</h3>

                <p>Il n'y a pas de lien entre les statistiques de retours à l'emploi affichés par domaine de formation
                    sur "La Bonne Formation" et la notation des évaluations par les anciens stagiaires sur Anotéa.</p>

                <h3>La conception et le fonctionnement d’Anotéa relèvent-ils de la norme NF Z74-501 ?</h3>

                <p>A ce stade, l'outil Anotéa ne relève pas de la norme NF Z74-501, mais il s'inscrit dans le cadre du
                    décret qualité et des exigences CNIL.</p>

                <h3>Les formations faisant parties d'un portage sont-elles identifiées au nom du porteur ou au nom de
                    l'organisme de formation réalisateur ?</h3>

                <p>Seul l’organisme qui effectue la formation est noté par l’ex-stagiaire.</p>

                <h3>Est-ce que les OF sont associés à l'identification des anciens stagiaires ?</h3>
                Les informations concernant les anciens stagiaires sont extraites des fichiers de Pôle Emploi et du
                Conseil Régional uniquement.</p>

                <h3>Je suis un site qui publie des offres de formation, comment obtenir ces avis ?</h3>

                <p>Le service Anotéa est accessible via API sur l’Emploi Store Développeurs , il vous suffit, via un
                    contrat de licence, d’obtenir cette API pour afficher l’ensemble des avis sur votre site.</p>
            </div>

            <div class="block odd">
                <a name="ancienStagiaire"></a>
                <h2>Vous êtes un ancien stagiaire</h2>

                <h3>Où est publié mon avis ?</h3>
                <p>Les avis sont publiés aujourd’hui sur deux sites partenaires : <a
                            href="https://www.defi-metiers.fr/">Défi métiers</a> et <a
                            href="https://labonneformation.pole-emploi.fr/">La bonne formation</a>.</p>

                <h3>Mon avis est-il anonyme ?</h3>
                <p>Oui, l’Organisme de formation et les futurs stagiaires n’ont accès qu’à votre pseudo.</p>

                <h3>Le modérateur peut-il modifier mon avis / ma note ?</h3>
                <p>Les notes ne peuvent être modifiées par le modérateur. Pour les avis, seul l'ajout d’espaces pour
                    faciliter la lecture sont autorisés. </p>
                <p>Vous trouverez toutes les informations sur les conditions de publication des avis sur ce lien : <a
                            href="http://anotea.pole-emploi.fr/cgu">http://anotea.pole-emploi.fr/cgu</a></p>

                <h3>Les futurs stagiaires peuvent-ils me contacter ?</h3>
                <p>Oui, une fonction permettra bientôt aux futurs stagiaires de vous contacter par email. Vous aurez
                    ainsi la possibilité de partager votre expérience de la formation . Ils n’auront cependant accès à
                    aucune de vos coordonnées personnelles depuis Anotéa</p>

                <h3>Est-il possible de modifier mon avis / ma note après publication ?</h3>
                <p>Non, il n’est pas possible de modifier votre avis / note après l’avoir validé.</p>

                <h3>Pourquoi certains avis sont publiés et pas d’autres ?</h3>
                <p>Seuls les avis ne respectant pas notre charte de modération ne sont pas publiés. Vous pouvez la
                    retrouver sur ce lien : <a
                            href="http://anotea.pole-emploi.fr/cgu">http://anotea.pole-emploi.fr/cgu</a></p>

                <h3>Je ne retrouve pas mon avis sur le site Anotéa, est-ce normal ?</h3>
                <p>Le site anotea.pole-emploi.fr présente la façon dont sont recueillis et traités les notes et avis des
                    anciens stagiaires.</p>
                <p>Les Notes et avis sont quand à eux publiés aujourd’hui sur deux sites partenaires : <a
                            href="https://www.defi-metiers.fr/">Défi métiers</a> et <a
                            href="https://labonneformation.pole-emploi.fr/">La bonne formation</a>.</p>
            </div>

            <div class="block even last">
                <a name="nouveauStagiaire"></a>
                <h2>Vous êtes un nouveau stagiaire</h2>

                <h3>Anotéa est-il disponible pour toutes les formations en France ?</h3>
                <p>Anotéa est actuellement uniquement disponible en Île de France, avant sa future généralisation.</p>

                <h3>Comment contacter un ancien stagiaire ?</h3>
                <p>Nous allons bientôt développer une fonction permettant de contacter les anciens stagiaires par
                    mail.</p>

                <h3>Comment sont modérés les avis publiés ?</h3>
                <p>Vous trouverez toutes les informations sur les conditions de publication des avis sur ce lien : <a
                            href="http://anotea.pole-emploi.fr/cgu">http://anotea.pole-emploi.fr/cgu</a>
            </div>
        </div>
        <%- include('../../views/front/footer.ejs'); %>
        <%- include('../../views/analyticsTrackers.ejs'); %>
    </body>

</html>
