<link rel="stylesheet" type="text/css" href="/static/css/front/footer.css" media="all">
<div class="footer">
    <img class="logo" src="/static/images/logo_Anotea_Horizontal_baseline2.png" />
    <img src="/static/images/pe.jpg" class="logo-pe-mobile" />
    <img class="logo-mobile" src="/static/images/logo_Anotea_Horizontal_baseline2.png" />

    <div class="menu-footer">
        <a href="https://github.com/StartupsPoleEmploi/anotea" target="_blank">GitHub</a>
        <a href="/cgu">CGU</a>
        <a href="#" class="open-modal-contact">Contact</a>
        <a href="/admin">Administration</a>
    </div>

    <img src="/static/images/pe.jpg" class="logo-pe" />
</div>