<link rel="stylesheet" type="text/css" href="/static/css/front/footer.css" media="all">
<div class="footer">
    <a href="https://github.com/StartupsPoleEmploi/anotea" target="_blank">GitHub</a>
    <a href="/cgu">CGU</a>
    <a href="mailto:anotea@pole-emploi.fr">Contact</a>

    <img class="logo" src="/static/images/logo_Anotea_Horizontal_baseline2.png" />
</div>