<link rel="stylesheet" type="text/css" href="/static/css/front/header.css" media="all">

<div class="header">
    <a href="/" title="Accueil" class="logo" alt="logo Anotéa"><img src="/static/images/logo_Anotea_Horizontal_baseline2.png" /></a>
    <div class="login">
        <div class="menu closed of" onMouseOver="javascript:$('.menu.of').toggleClass('closed open')"
            onMouseOut="javascript:$('.menu.of').toggleClass('closed open')">
            <a href="#" class="unroll" alt="menu Financeurs">Nos services
                <img class="icon-open" src="/static/images/home/chevron-down.svg" />
                <img class="icon-close" src="/static/images/home/chevron-up.svg" />
            </a>
            <div class="content">
                <ul>
                    <li>
                        <a href="/services/stagiaires" title="Demandeurd'emploi">Demandeur d'emploi</a>
                    </li>
                    <li>
                        <a href="/services/organismes" title="Organisme de formation">Organisme de formation</a>
                    </li>
                    <li>
                        <a href="/services/financeurs" title="Financeur">Financeur</a>
                    </li>
                </ul>
            </div>
        </div>
        <img src="/static/images/pe.jpg" class="logo-pe" alt="logo Pôle Emploi"/>
        <a href="/admin" class="admin"><img src="/static/images/home/moderateur.svg"
                title="Accès espace modérateur" /></a>
    </div>
</div>