<link rel="stylesheet" type="text/css" href="/static/css/front/header.css" media="all">

<div class="header">
    <a href="/"><img class="logo" src="/static/images/logo_Anotea_Horizontal_baseline2.png" /></a>
    <div class="login">
        <div class="menu closed">
            <a href="#" onClick="javascript:$('.menu').toggleClass('closed')">FAQ</a>
            <img class="icon-open" src="/static/images/home/chevron-up.svg" />
            <img class="icon-closed" src="/static/images/home/chevron-down.svg" />
            <ul >
                <li><a href="/services/stagiaires">Demandeur d'emploi</a></li>
                <li><a href="/services/organismes">Organisme de formation</a></li>
                <li><a href="/services/financeurs">Financeurs</a></li>
            </ul>
        </div>
    </div>
</div>