<mj-section>
    <mj-column>
        <mj-text>
            <div class="text-tertiary">
                Pôle emploi traite vos données à caractère personnel (données professionnelles, données de contact)
                pour les besoins de la réalisation d’une enquête de satisfaction. Cette enquête est facultative.
                Pôle emploi a obtenu vos données soit directement si vous êtes demandeur d’emploi, soit par le biais
                de votre Conseil Régional si vous y avez consenti.
            </div>
        </mj-text>
        <mj-text>
            <div class="text-tertiary">
                Vos données seront conservées pendant la durée de l’enquête, pour les stagiaires n’ayant pas
                consenti à être contacté, ou jusqu’à la révocation du consentement et au maximum 3 ans pour les
                stagiaires ayant consentis à être contactés.
            </div>
        </mj-text>
        <mj-text>
            <div class="text-tertiary">
                Conformément aux articles 12 à 23 du règlement général (UE) sur la protection des données n°2016/679
                du 27 avril 2016 et à la loi Informatique et libertés n°78-17 du 6 janvier 1978 modifiée,
                vous bénéficiez notamment d’un droit d’accès, de rectification, d’effacement et le droit de porter
                une réclamation devant la Commission nationale de l’informatique et des libertés pour les données
                vous concernant. Pour exercer vos droits, vous pouvez vous adresser à votre agence ou au délégué
                à la protection des données de Pôle emploi (1 avenue du Docteur Gley, 75987 Paris cedex
                20 ; <a href="mailto:courriers-cnil@pole-emploi.fr">courriers-cnil@pole-emploi.fr</a>).
            </div>
        </mj-text>
    </mj-column>
</mj-section>
