.App-logo {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.App-header {
    background-color: #222;
    height: 130px;
    padding: 20px;
    color: white;
    /*position: relative;*/
}

div.logout {
    position: absolute;
    right: 10px;
    top: 10px;
}

.label.h5 {
    position: absolute;
    /*right: 10px;*/
    top: 30px;
}

.App-header h2 {
    margin-left: 20px;
}

.App-header * {
    display: inline-block;
}

.App-intro {
    font-size: large;
}

.badge.published {
    background-color: #5cb85c;
}

.badge.rejected {
    background-color: #d9534f;
}

.badge.toModerate {
    background-color: #5bc0de;
}

.badge.reported {
    background-color: #f0ad4e;
}

.badge.nocomment {
    background-color: #000;
}

.star.five {
    background-color: #155e63;
}

.star.four {
    background-color: #1DE9B6;
}

.star.three {
    background-color: #FADA09;
}

.star.two {
    background-color: #FFB15D;
}

.star.one {
    background-color: #D0021B;
}

.publishedAdvicesTitle.h2 {
    color: #ffffff;
    background-color: #F5A623;
    text-align: center;
}

.countPublishedAdvices.h2 {
    color: #000000;
    height: 94px;
    font-family: Helvetica;
    font-size: 78px;
    font-weight: bold;
    line-height: 94px;
    text-align: center;
}

.graphe.h2 {
    height: 29px;
    font-size: 24px;
    color: #ffffff;
    background-color: #F5A623;
    line-height: 29px;
    text-align: center;
}

.graphe {
    background-color: #ffffff;
    margin-top: 35px;
}

.advicesGestion.h2 {
    height: 29px;
    font-size: 24px;
    color: #ffffff;
    background-color: #F5A623;
    line-height: 29px;
    text-align: center;
}

.date {
    background-color: #9B9B9B;
    height: 50px;
    width: 158px;
}

.date.h2 {
    color: #000000;
    height: 24px;
    width: 158px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.rectangle-2 {
    height: 529px;
    width: 252px;
    background-color: #ffffff;
}

.mainPanel .nav-tabs > li.active > a, .mainPanel .nav-tabs > li.active > a:hover {
    background: #eee;
    font-weight: bold;
}

.mainPanel .nav-tabs > li > a {
    border-radius: 7px 7px 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.loginForm h1, .forgottenPassword h1 {
    text-align: center;
    margin-top: 50px;
}

.loginForm .block {
    margin-top: 40px;
    width: 250px;
}

.loginForm .block, .forgottenPassword .block {
    margin: auto;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

.forgottenPassword .content {
    margin: auto;
    margin-top: 30px;
    width: 70%;
}

.forgottenPassword .block, .forgottenPassword .info {
    display: inline-block;
}

.forgottenPassword .block {
    margin-top: 20px;
}

.forgottenPassword .info {
    padding-left: 40px;
}

.forgottenPassword .asked, .forgottenPassword .passwordLost {
    margin: auto;
    width: 50%;
}

.forgottenPassword .asked {
    margin-top: 60px;
}

.forgottenPassword .passwordLost {
    display: inherit;
}

.forgottenPassword .passwordChanged {
    text-align: center;
}

.loginForm .block h4, .forgottenPassword .block h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.loginForm .block .form-control, .forgottenPassword .block .form-control {
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

.loginForm .block .wrapper, .loginForm .loginHelp, .forgottenPassword .block .wrapper, .loginForm .loginHelp {
    text-align: center;
}

.loginForm .loginHelp, .forgottenPassword .loginHelp {
    margin-top: 20px;
}

.main {
    width: 80%;
    margin: auto;
}

.main .logout {
    margin: 10px 20px;
}

.main .mainPanel td {
    padding: 5px;
}

.pagination li {
    cursor: pointer;
}

.ReportedSummary {
    width: 350px;
}

.mainPanel .advices {
    border-width: 0px 1px 1px 1px;
    border-color: #ddd;
    border-style: solid;
    padding: 20px;
    margin-bottom: 40px;
}

.mainPanel .advice {
    list-style: none;
    padding: 0;
    margin: 0px 0px 20px;
}

.mainPanel .advice:last-of-type {
    margin: inherit;
}

.mainPanel .advice .header {
    margin-bottom: 10px;
}

.mainPanel .advice .pseudo {
    display: inline-block;
}

.mainPanel .advice .pseudo small, .mainPanel .advice .title small {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.mainPanel .advice .actions .btn {
    margin: 5px;
}

.mainPanel .advice .actions .dropdown {
    display: inline-block;
}

.mainPanel .advice h3, .mainPanel .advice h4 {
    font-size: 1em;
    margin: 0px;
}

.mainPanel .advice h4 {
    font-weight: bold;
}

.mainPanel .advice .control, .mainPanel .advice .content {
    display: inline-block;
}

.mainPanel .advice .control {
    width: 40px;
    vertical-align: top;
}

.mainPanel .advice .content {
    width: calc(100% - 40px);
}

.mainPanel .advice .avatar {
    margin-right: 5px;
}

.mainPanel .advice .badge {
    font-size: 0.8em;
    font-weight: normal;
    margin: 5px;
}

.star {
    font-weight: normal;
    margin: 5px;
}

.mainPanel .advice .noComment {
    color: darksalmon;
    font-style: italic;
}

.mainPanel .advice .answer {
    margin-left: 20px;
}

.mainPanel .advice .answer h4 {
    margin-bottom: 5px;
}

.mainPanel .advice .answer .maxLengthReached {
    color: red;
}

.AdviceRates {
    background: #eee;
    padding: 7px;
    border-radius: 5px;
}

.AdviceRates .row {
    margin-right: 0px;
}

.AdviceRates .detail {
    padding-top: 10px;
}

.AdviceRates button.unfold {
    border: none;
    background-color: transparent;
}

.AdviceRates button.unfold:focus {
    outline: 0;
}

.AdviceRates .description {
    white-space: nowrap;
    min-width: 135px;
    padding-right: 0;
}

.AdviceRates .starsContainer .AdviceRates {
    padding: 0;
}

.Stars {
    margin-left: 5px;
    color: #facc2e;
}

.filters {
    background: #fafafa;
}

.avis {
    margin-top: 15px;
}

.AdviceRates .Stars .invalid {
    font-size: 0.8em;
}

.organisationPanel .subtitle {
    font-size: 1em;
}

.organisationPanel .subtitle a {
    padding-left: 20px;
}

.organisationPanel .subtitle .dropdown {
    margin-top: 8px;
}

.organisationPanel h1 {
    font-size: 24px;
}

.toolbox {
    padding: 10px;
    border-width: 0px 1px 1px 1px;
    border-color: #ddd;
    border-style: solid;
}

.toolbox div {
    display: inline;
    line-height: 40px;
}

.toolbox button.unfold {
    border: none;
    background-color: transparent;
}

.toolbox .sort .action {
    margin: 0px 20px 0px 5px;
}

.SessionStats {
    border: solid 1px #ddd;
    padding: 10px;
    border-radius: 10px;
    width: 65%;
}

.SessionStats h3 {
    margin-top: 0px;
}

.SessionStats .metadata ul {
    list-style: none;
    padding-left: 10px;
}

.SessionStats .metadata li {
    margin-top: 8px;
}

.SessionStats .rates h4 {
    text-align: center;
}

.SessionStats .rates .Stars {
    display: inline-block;
}

.SessionStats .rates .title {
    margin-bottom: 10px;
}

.SessionStats .rates .title .Stars {
    margin: 0px 10px;
}

.Stars {
    width: 72px;
}

.SessionStats .rates ul {
    list-style: none;
    padding: 0px
}

.SessionStats .rates .progress {
    height: 10px;
    width: 60%;
    display: inline-block;
    margin-bottom: 0px;
    margin: 0px 10px;
}

.SessionStats .rates .progress-bar {
    background-color: green;
}

.publishedAdvices {
    border: solid 1px #979797;
    border-bottom-style: none;
    height: 184px;
    width: 158px;
    margin-top: 35px;
}

.SearchForm .NotesFilter {
    width: 100%;
    margin-bottom: 10px;
}

.SearchForm .NotesFilter h3 {
    margin-top: 0px;
}

.SearchForm .search-group {
    width: 100%;
    margin-bottom: 10px;
}

.NotesFilter .dropdown, .SearchForm .dropdown-menu {
    width: 100%;
}

.SearchForm .dropdown .NotesFilter button {
    width: 100%;
    text-align: left;
}

.SearchForm .NotesFilter .dropdown a {
    white-space: inherit;
}

.SearchForm .NotesFilter .dropdown .dropdown-toggle div {
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.SearchForm .NotesFilter .dropdown .caret {
    display: inline-block;
    margin-top: 12px;
}

/* Moderation */

.moderationPanel .toolbar, .organisationPanel .toolbar {
    background-color: #eee;
    padding: 10px;
    border-width: 0px 1px 0px 1px;
    border-color: #ddd;
    border-style: solid;
    height: 43px;
}

.actionToModerate {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.stagiaires {
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    background: #ffffff !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #f0ad4e !important;
    /*border-image: initial !important;*/
}

.of {
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    background: #ffffff !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #f0ad4e !important;
    /*border-image: initial !important;*/
}

.moderationPanel .toolbar > div, .organisationPanel .toolbar > div {
    display: inline-block;
}

.toolbar .dropdown-menu {
    width: 200px;
}

.moderationPanel {
    min-width: 1040px;
}

.AccountCreation {
    width: 60%;
    margin: auto;
}

.AccountCreation .info {
    margin-top: 30px;
}

/* Bootstrap 4 style */
input.is-valid {
    border-color: #28a745;
}

input.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    margin-top: .25rem;
    color: #dc3545;
}
