@import 'styles/deprecated/anotea-deprecated.scss';
@import 'styles/variables';
@import 'styles/button-mixins';

.anotea {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-400;
  color: $color-black;
  background-color: $color-white;
  min-height: 1000px;

  .a-btn-cancel {
    @include confirmation-button($color-red, $color-white);
    border: none;
    text-transform: unset;
  }

  .a-btn-confirm {
    @include confirmation-button($color-blue, $color-blue-10);
  }

  .a-btn-confirm-dropdown {
    @include dropdown();

    button {
      @include confirmation-button($color-blue, $color-blue-10);
    }
  }
}
