@import 'styles/deprecated/anotea-deprecated.scss';
@import 'styles/variables';

html, body, #root {
  height: 100vh;
}

.anotea {

  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-400;
  color: $color-black;
  background-color: $color-white;
  height: 100%;

  .a-disabled {
    pointer-events: none;
    opacity: 0.05;
  }

  .a-centered {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .a-icon {
    margin-right: 0.25rem;
  }

  .a-text-important {
    color: $color-red !important;
  }

  .a-text-medium {
    font-size: 0.875rem;
  }

  .a-flex-grow-1 {
    flex-grow: 1;
  }

  .a-width-50 {
    width: 50%;
  }
}

.datepicker {

  table {
    tr, td {
      padding: 0.5rem;
    }
  }

  .datepicker-years {

    .datepicker-switch {
      visibility: hidden;
    }

    .year {

      &.disabled, &.new {
        display: none;
      }

      &.active, &.focused {
        color: $color-black;
        background-color: unset;
        background-image: unset;

        &:hover {
          background-color: $color-grey-5;
        }
      }
    }
  }

  .datepicker-months {
    .month {
      &.disabled, &.new {
        display: none;
      }

      &.active, &.focused {
        color: $color-black;
        background-color: unset;
        background-image: unset;

        &:hover {
          background-color: $color-grey-5;
        }
      }
    }
  }

  .datepicker-days {
    .day {
      &.disabled, &.new {
        display: none;
      }

      &.active, &.focused {
        color: $color-black;
        background-color: unset;
        background-image: unset;

        &:hover {
          background-color: $color-grey-5;
        }
      }
    }
  }
}

