@import '../../../styles/variables.scss';

.graphes {
    .repondants {
        h3 {
            font-size: 32px;
            font-weight: bold;
        }
    
        p {
            color: $color-grey-50; 
        }
    }
}
