@import '../../../styles/variables';

.Header {
  padding-top: 0.8em;
  padding-bottom: 2.5em;

  &.moderation {
    background-color: $color-blue;
  }

  &.misc {
    background-color: $color-green;
  }

  .nav {
    font-weight: $font-weight-400;

    .nav-link {
      color: $color-white;
      display: inline-block;
      opacity: 0.6;

      padding-right: 0.5em;

      &.active {
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        color: $color-white;
        font-weight: $font-weight-700;
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }

    .badge.pastille {
        background-color: $color-red;
        color: $color-white;
        border-radius: 10px;
        font-size: 0.7em;
        padding: 0.3em 0.6em;
    }
  }

  .account-link {
    color: white;
    padding: 0 15px;
  }

  .logout {
    margin-top: 1px;
    border: 2px solid;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 0.825rem;
    font-weight: $font-weight-700;
    letter-spacing: 1px;
  }

}
