@import '../../../styles/variables';

.Message {

  &.a-centered {
    width: 85% !important;
  }

  .global {
    width: 70%;
  }

  .alert {
    padding: 0.5rem 1.25rem;
    color: $color-green;
    background-color: $color-green-10;
    border-color: $color-green-10;

    .title {
      font-size: 1.1rem;
      font-weight: $font-weight-700;
    }

    .close {
      padding: 0.5rem 1.25rem;
    }
  }
}
