@import '../../../styles/variables';
@import '../../../styles/button-mixins';

.Message {

  color: $color-green;
  background-color: $color-green-10;
  border-color: $color-green-10;


  .title {
    font-size: 1.1rem;
    font-weight: $font-weight-700;
  }

}
