@import '../../../styles/variables';
@import '../../../styles/button-mixins';

 .Modal {
  display: inline-block;

   .modal-backdrop {
    &.show {
      opacity: 0.2;
    }
  }

   .modal {
    top: 5rem;
    display: block;

     .modal-dialog {
      max-width: 550px;

       .modal-content {
        border: none;
        box-shadow: $shadow;

         .modal-header {
          padding-bottom: 0;
          border-bottom: none;

           .modal-title {
            font-size: 1.1rem;
            font-weight: $font-weight-700;
          }
        }

         .modal-body {
          padding-bottom: 0;
        }

         .modal-footer {
          padding-top: 0;
          border-top: none;

           button.cancel {
            @include action-button($color-red, $color-white);
            border: none;
            text-transform: unset;
          }

           button.confirm {
            @include action-button($color-blue, $color-blue-10);
          }
        }
      }
    }
  }
}
