@import '../../../../styles/variables';

.Filters {
  .nav {
    background: $color-white;
    border-radius: 7px;
    z-index: 1000;
    font-weight: $font-weight-400;

    .nav-link {
      padding: 10px 15px;;
      color: $color-grey-50;
      font-size: 1rem;

      &.active {
        color: $color-black;
        background-color: $color-grey-5;
        font-weight: $font-weight-700;
      }

      &:hover, &:focus {
        cursor: pointer;
        color: $color-black;
        background-color: $color-grey-5;
        font-weight: $font-weight-700;
        transition: background 0.20s linear;
      }
    }

    .nav-item {
      &:first-child {
        .nav-link {
          &.active, &:hover, &:focus {
            border-bottom-left-radius: 7px;
            border-top-left-radius: 7px;
          }
        }
      }

      &:last-child {
        .nav-link {
          &.active, &:hover, &:focus {
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
          }
        }
      }
    }
  }
}
