@import '../../../../styles/variables';

.Results {

  .disable {
    pointer-events: none;
    color: $color-grey-25;
  }

  .description {
    font-size: 1.125rem;
    font-weight: $font-weight-400;
    padding-bottom: 10px;
    text-align: center;
    position: relative;

    .suffix {
      font-weight: $font-weight-700;
    }

    .status {
      padding-top: 4px;
      color: $color-grey-50;
      font-weight: $font-weight-400;
      font-size: 0.875rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
