@import 'src/common/styles/variables';

.Backoffice .Tabs {
  .nav {
    text-align: center;
    font-size: 1.5rem;
    color: $color-white;
    font-weight: $font-weight-normal;

    .nav-item {


      &.active {
        opacity: 1;
        color: $color-white;
        font-weight: $font-weight-boldest;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }

      &:hover, &:focus {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
