@import '../../../styles/variables';

.global-panel {
  text-align: center;

  padding: 2em;

  .propulsed {
    margin-left: 5em;
  }

  h1 {
    color: $color-blue;
    font-size: 2rem;
    margin-top: 4em;
  }
}
