@import '../../common/styles/variables';

.formation {

  text-align: center;
  padding-top: 3rem;

  h1 {
    color: $color-blue;
    font-size: 2rem;
    font-weight: $font-weight-900;
  }

  .description {
    font-size: 1rem;
    color: $color-black;

    .title {
      color: $color-black;
      font-weight: $font-weight-700;
    }
  }
}
