<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="stylesheet" type="text/css" href="/css/front/advisor-questionnaire.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <a href="/" title="#"></a>
                <ul>
                    <li>Service
                        <br />propuls&eacute; par</li>
                    <li><a class="poleemploi textimage" href="http://www.pole-emploi.fr/accueil/" title="Visiter le site pole-emploi.fr" target="_blank">P&ocirc;le emploi</a></li>
                    <li><a class="iledefrance textimage" href="https://www.iledefrance.fr/" title="Visiter le site iledefrance.fr" target="_blank">Conseil r&eacute;gional d'&Icirc;le-de-France</a></li>
                </ul>
            </header>

            <section>
                <h2>
                    Vous avez été désinscrit avec succès. Vous ne recevrez plus de courriers électroniques de notre part.
                </h2>

            </section>

            <footer>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </blockquote>
            </footer>
        </div>
        <script type="text/javascript" src="/script/jquery.js"></script>
        <script type="text/javascript" src="/script/index.js"></script>
        <%- include('../../analyticsTrackers'); %>
    </body>
</html>