@import 'src/common/styles/variables';

.Backoffice .LoginPage {

  .mot-de-passe-oublie {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
  }

  .placeholder-opaque::placeholder {
    opacity: 1;
  }
}

.Backoffice .MotDePasseOubliePage {

  .placeholder-opaque::placeholder {
    opacity: 1;
  }
}

