@import 'src/common/styles/variables';

.Button {

  @mixin disable-button($background-color, $border-color ) {
    pointer-events: none;
    background-color: $background-color;
    color: $color-grey-25 !important;
  }

  @mixin small-button($text-color, $background-color) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $text-color;
    border: none;
    background-color: $color-white;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;


    &:hover, &.a-btn-hover {
      border-radius: 5px;
      background-color: $background-color;
    }

    &.a-btn-disabled {
      @include disable-button($color-white, $color-grey-25);
    }
  }

  @mixin medium-button($text-color, $hover-color) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $text-color;
    border: 1px solid $text-color;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    padding: 0.375rem 0.5rem;
    text-transform: uppercase;


    &.a-btn-disabled {
      @include disable-button($color-white, $color-grey-25);
      border: 1px solid $color-grey-25;
    }

    &:hover, &.a-btn-hover {
      background-color: $hover-color;
      border: 1px solid $hover-color;
    }
  }

  @mixin large-button($text-color, $background-color, $background-color-hover) {
    font-size: 1rem;
    line-height: 1.125rem;
    letter-spacing: 0.5px;
    color: $text-color;
    border-radius: 5px;
    border: 1px solid $background-color;
    background-color: $background-color;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
    text-transform: uppercase;


    &:hover, &.a-btn-hover {
      border: 1px solid $background-color-hover;
      background-color: $background-color-hover;
    }

    &.a-btn-disabled {
      @include disable-button($color-grey-5, $color-grey-25);
      border: 1px solid $color-grey-5;
    }
  }

  &.a-btn-small {
    @include small-button($color-black, $color-grey-25);

    &.a-btn-red {
      @include small-button($color-red, $color-red-10);
    }

    &.a-btn-green {
      @include small-button($color-green, $color-green-10);
    }

    &.a-btn-blue {
      @include small-button($color-blue, $color-blue-10);
    }

    &.a-btn-orange {
      @include small-button($color-orange, $color-orange-10);
    }
  }

  &.a-btn-medium {
    @include medium-button($color-black, $color-grey-25);

    &.a-btn-red {
      @include medium-button($color-red, $color-red-30);
    }

    &.a-btn-green {
      @include medium-button($color-green, $color-green-30);
    }

    &.a-btn-blue {
      @include medium-button($color-blue, $color-blue-30);
    }

    &.a-btn-orange {
      @include medium-button($color-orange, $color-orange-30);
    }
  }

  &.a-btn-large {
    @include large-button($color-black, $color-grey-5, $color-grey-25);

    &.a-btn-red {
      @include large-button($color-red, $color-red-10, $color-red-30);
    }

    &.a-btn-green {
      @include large-button($color-green, $color-green-10, $color-green-30);
    }

    &.a-btn-blue {
      @include large-button($color-blue, $color-blue-10, $color-blue-30);
    }

    &.a-btn-orange {
      @include large-button($color-black, $color-orange, $color-orange-60);
    }
  }
}
