@import 'src/common/styles/variables';

.Modal {
  display: inline-block;

  .modal-backdrop {
    &.show {
      opacity: 0.2;
    }
  }

  .modal {
    top: 5rem;
    display: block;

    .modal-dialog {
      max-width: 550px;

      .modal-content {
        border: none;
        box-shadow: $shadow;

        .modal-header {
          padding-bottom: 0;
          border-bottom: none;

          .modal-title {
            font-size: 1.1rem;
            font-weight: $font-weight-bold;
          }

          .modal-cross {
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
            background-color: rgb(77, 144, 255);
            color: rgb(247, 248, 250);
            height: 35px;
            width: 50px;
            font-size: 14px;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(43, 123, 255);
            cursor: pointer;
          }
          

        }

        .modal-footer {
          padding-top: 0;
          border-top: none;

          button {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
