@import '../../styles/variables';

.questionnaire {

    h3 {
        color: $color-blue;
        font-size: 0.875rem;
        font-weight: $font-weight-900;
        line-height: 29px;
        font-size: 1.5rem;
    }

    .plusQuneDerniere {
        height: 20px;
        color: $color-blue;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
    }

    .send-button {
        text-align: center;
    }

    .pageOne {
        .send-button {
            margin-top: 1rem;
        }
    }

    .pageTwo {
        .go-back {
            color: $color-black;
            font-size: 14px;
            line-height: 20px;
            border: none;
            background: none;
            margin-right: 30px;
        }

        .go-back:hover {
            border: none;
            background-color: $color-grey-5;
        }

        .send-button {
            margin-top: 2rem;
        }
    }
}
@media (max-width: 576px) {
    .questionnaire {
        h3 {
            font-size: 1.125rem;
        }
    }
}
