@import 'src/common/styles/variables';

.Questionnaire .note {

  padding: 1rem;
  line-height: 19px;

  @media (max-width: 575.98px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .stars-container {
      padding-left: 0;
    }
  }

  .title {
    padding-bottom: 0.25rem;
    letter-spacing: 0.5px;
    color: $color-black;
    font-size: 1rem;
    font-weight: $font-weight-boldest;
  }

  .description {
    color: $color-dark;
    font-size: 1rem;
    line-height: 19px;
    font-weight: $font-weight-normal;
  }

  .row {
    .col-sm-7 {
      padding-left: 0;
    }
  }
}

