html {
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: 'Droid Sans', Verdana, sans-serif;
    color: #8E9093;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0px;
}

body > div {
    max-width: 760px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

header {
    text-align: center;
}

.logoAnotea {
    height: 80px;
}

.error-page {
    margin-top: 60px;
}

.error-page p {
    text-align: center;
}

.servicePro {
    font-size: 14px;
    margin-top: 3rem;
    text-align: center;
}

.servicePro img {
    vertical-align: middle;
}

body > div > section > h2 {
    font-size: 20px;
    color: #F0801A;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
