
.footer {
    width: 100%;
    margin: auto;
    height: 150px;
    padding: 60px 0 0 0;
}

.footer a {
    line-height: 70px;
    padding: 0px 20px;
    color: #373B46;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: none;
}

.footer .logo {
    margin: 15px;
    vertical-align: middle;
    height: 75px;
}

.footer .logo-pe {
    vertical-align: middle;
    position: absolute;
    right: 70px;
}

.footer .logo-pe, .footer .logo-pe-mobile, .footer .logo, .footer .logo-mobile {
    height: 75px;
}

.footer .logo, .footer .menu-footer, .logo-pe-mobile, .footer .logo-mobile {
    float: left;
}

.footer .logo-pe-mobile, .footer .logo-mobile {
    display: none;
}

.footer .menu-footer {
    width: inherit;
    text-align: center;
    margin-top: -90px;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media (max-width: 1325px) {
    .footer {
        padding: 0;
    }

    .footer .logo-mobile {
        display: inherit;
        margin: 15px;
    }

    .footer .logo-mobile, .footer .logo {
        height: 36px;
    }

    .footer a {
        padding: 5px;
        font-size: 0.9em;
    }

    .footer .logo-pe, .footer .logo {
        display: none;
    }

    .footer .logo-pe-mobile {
        display: inherit;
        height: 36px;
        margin: 15px;
    }

    .footer .menu-footer {
        margin-left: 20px;
        width: max-content;
        text-align: inherit;
        margin-top: inherit;
        display: inline-block;
    }
}

@media (max-width: 560px) {
    .footer .menu-footer {
        display: inline-block;
        flex-direction: column;
        max-width: 90%;
    }

    .footer a {
        line-height: 1em;
    }
}