@import '../../../styles/variables';

.Badge {

  position: relative;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $color-grey-25;
  border: solid 1px $color-grey-25;
  border-radius: 14px;
  padding: 0.5rem;
  margin-right: 0.5rem;


  .badge-tooltip {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 300px;
    top: 125%;
    left: 50%;
    margin-left: -150px;
    background-color: $color-grey-5;
  }

  &:hover .badge-tooltip {
    visibility: visible;
  }

  &.green {
    color: $color-green;
    border: solid 1px $color-green;

    .badge-tooltip {
      color: $color-white;
      background-color: $color-green;
    }
  }

  &.with-pointer {
    cursor: pointer;
  }
}
