body {
    padding: 0px;
    //font-family: Lato;
}
.alert, .table {
    width: fit-content;
}
code, pre {
    width: fit-content;
    height: fit-content;
    margin: 0;
}
header {
    background-color: #384eaa;
    height: 150px;
}

header .logo {
    margin: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
}

h2 {
    margin: 1em 0em 0.5em 0em;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}

section {
    margin: 50px 200px 50px 200px;
}
