@import '../../../../styles/variables';

.Page {

  height: 100%;

  .form {
    @include backoffice-color();
  }

  .tabs {
    @include backoffice-color();

    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
