@import 'src/common/styles/variables';

.Filter {

  &.nav-item {

    opacity: 0.6;
    position: relative;

    &.active {
      opacity: 1;

      &:hover, &:focus {
        font-weight: $font-weight-400;
      }
    }

    &:hover, &:focus {
      cursor: pointer;
      font-weight: $font-weight-700;
    }

    .nav-link {
      color: $color-black;
    }
  }
}
