.consultationLink {
    text-align: center;
}

.header {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 16px;
    padding: 0px 10px 20px 10px;
    height: 48px;
}

.header p {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 80%;
}

.header .logo-right {
    float: right;
    height: 68px;
}

.header .logo-left {
    margin: 20px 0px 20px 10px;
}
