@import '../../styles/variables';

.Pastille {
  position: absolute;
  top: 0;
  left: 101%;
  padding: 0 0.4rem;
  background-color: $color-red;
  color: $color-white;
  font-weight: $font-weight-700;
  font-size: 0.6rem;
  border-radius: 0.25rem;

  &.empty {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: unset;
  }
}

.Pastille--holder {
  position: relative;
}
