@import '../../styles/variables';

.Tooltip {
  display: none;

  .message {
    @include box();
    position: absolute;
    margin: auto;
    overflow: auto;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0.25rem;
    z-index: 1000;
    text-transform: none;
    font-size: 0.75rem;

    &.with-overflow-left {
      left: unset;
      white-space: nowrap;
    }

    &.with-overflow-right {
      right: unset;
      white-space: nowrap;
    }
  }


  .triangle {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1001;
    left: 40%;
    height: 0;
    width: 0;
    border-right: 5px solid transparent;
    border-bottom: 7px solid $color-white;
    border-left: 5px solid transparent;
  }
}

.Tooltip--holder {
  position: relative;

  &:hover {
    .Tooltip {
      display: block;
    }
  }
}
