<html>
    <head>
        <title>Vous avez été désinscrit avec succès</title>
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                font-size: 1em;
            }

            h1 {
                font-size: 1.5em;
                text-align: center;
            }

            body td {
                padding: 2em;
                width: 33%;
            }

            p {
                text-align: center;
                color: #24303A;
                opacity: 0.6;
            }
            
            .content p {
                padding: 0em 0em 2em 0em;
            }

            #lbf-logo {
                margin: auto;
                display: block;
                width: 200px;
            }

            @media only screen and (max-width: 596px) {
                body {
                    width: 100%;
                    font-size: 1em;
                }

                body td {
                    padding: .5em;
                    width: 33%;
                }
            }
        </style>
    </head>
    <body style="background-color:#ebebeb;">
        <center>
            <table width="760px" cellspacing="0" cellpadding="0" border="0"
                   style="font-family:Arial; background-color:white; font-size:1em;">
                <tr>
                    <td colspan="1" align="left" valign="middle"><img
                                src="/static/images/email/logo_Anotea_Horizontal_baseline2.png" alt="" /></td>
                    <td colspan="2" align="right" valign="middle">
                        <img src="/static/images/regions/logo-email/logo_<%= trainee.codeRegion %>.png" alt=""
                             style="vertical-align: middle;height: 80px;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding:0em 2em" class="content">
                        <h1>Vous avez été désinscrit avec succès.</h1>
                        
                        <p>Vous ne recevrez plus de courriers électroniques de notre part.</p>
                    </td>
                </tr>
            </table>
            <table width="760px" cellspacing="0" cellpadding="0" border="0"
                   style="font-family:Arial; background-color:white; font-size:1em;">
                <tr>
                    <td colspan="3" align="center"
                        style="color:#555; font-size:.7em; padding:.5em; background-color:#ebebeb;text-align: justify">
                        <%- include('../../../../smtp/views/legal/stagiaires/mentions.ejs'); %>

                        <img id="lbf-logo" src="/static/images/lbf.jpg" />
                    </td>
                </tr>
            </table>
        </center>
        <%- include('../../analyticsTrackers'); %>
    </body>
</html>
