@import 'src/common/styles/variables';

.Backoffice .Avis .Formation {

  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: $font-weight-normal;
  color: $color-grey-50;

  .name {
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color: $color-black;
    text-decoration: underline;
    margin-bottom: 0.3rem;
    
    @media (max-width:768px) {
      word-break: break-all;
    }
  }
}

