@import 'src/common/styles/variables';

.Backoffice .Avis .Reponse {

  font-size: 1rem;
  border: 1px solid $color-grey-5;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 1rem 1.5rem;

  .title {
    font-weight: $font-weight-bold;
  }

  .date {
    font-weight: $font-weight-normal;
    font-size: 0.75rem;
    color: $color-grey-50;
  }

  .status {
    font-size: 0.75rem;

    &.validated {
      color: $color-green;
    }

    &.rejected {
      color: $color-red;
    }

    &.none {
      color: $color-blue;
    }
  }
}

