<mj-section>
    <mj-column>
        <mj-text>
            <div class="text-tertiary">
                <h2>Protection des données à caractère personnel</h2>
                <p>France Travail, en tant que responsable du traitement, utilise vos données pour délivrer le service décrit à l’article 1 [des mentions légales] . Elles peuvent également être utilisées pour des finalités statistiques et d’amélioration du service. </p>
                <p>La base juridique de ce traitement est la mission d’intérêt public que le service permet d’exécuter en application de l’article L. 5312-1 du code du travail.</p>
                <p>Vos données sont destinées à être transmises aux administrateurs du site.</p>
                <p>Vos données sont conservées pendant une durée maximale de 3 ans.</p>
                <p>Vous pouvez demander à accéder à vos données et les faire rectifier en vous adressant par courrier postal ou électronique auprès du délégué à la protection des données de France Travail, 1, avenue du Docteur Gley, 75987 Paris cedex 20, <a href="mailto:contact-dpd@francetravail.fr">contact-dpd@francetravail.fr</a></p>
            </div>
        </mj-text>
    </mj-column>
</mj-section>