<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="stylesheet" type="text/css" href="/css/front/errors.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    </head>

    <body>
        <div>
            <header>
                <br />
                <img src="/img/logo_Anotea_Vertical_baseline2.png" alt="" class="logoAnotea" />
                <div class="servicePro">
                    <span>Service propulsé par</span>
                    <img src="/img/poleemploi.png" alt="" class="logoPE" />
                </div>
            </header>

            <section class="error-page">
                <h2>Page introuvable</h2>
                <p>Le contenu auquel vous tentez d'accéder n'existe pas ou plus.</p>
            </section>
        </div>
        <%- include('../analyticsTrackers'); %>
    </body>

</html>
