@import 'src/common/styles/variables';

.Backoffice .Dropdown {
  display: inline;

  .dropdown-menu {
    box-shadow: $shadow;
    background-color: $color-grey-5;
    font-size: 0.875rem !important;
    padding: 0.5rem 0 0.1rem 0;

    .dropdown-item {
      background-color: $color-white;
      cursor: pointer;
      color: $color-grey-50;
      padding: 0.5rem;

      &:hover {
        color: $color-black;
      }
    }

    .dropdown-divider {
      background-color: $color-white;
      margin-top: 0;
      margin-bottom: 0;
    }

    .dropdown-header {
      padding-top: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      color: $color-black;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.625rem !important;
      font-weight: $font-weight-700;
    }
  }
}
