<link rel="stylesheet" type="text/css" href="/static/css/contact.css" media="all">
<link rel="stylesheet" type="text/css" href="/static/css/modal-contact.css" media="all">
<script src="/static/js/contact.js"></script>

<div class="modal">
    <div class="dark-background"></div>
    <div class="modal-contact">
        <div class="modal-header">
            <h5 class="modal-title">Contactez-nous</h5>
        </div>
        <div class="modal-body">
            <div>
                <h6>Renseigner votre région</h6>
                <select id="region-select">
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="button cancel">Annuler</a>
            <a href="#" class="button ok">Continuer</a>
        </div>
    </div>
</div>
<div id="contact" class="contact">
    <h1>Une question ? <br /> Un doute ?</h1>
    <p><a href="#" class="open-modal-contact" title="Contactez-nous">Contactez-nous</a></p>
</div>
