<link rel="stylesheet" type="text/css" href="/static/css/footer.css" media="all">
<div class="footer">
    <img class="logo" src="/static/images/Republique_Francaise_RVB.png" />
    <img class="logo" src="/static/images/logo_Anotea_Horizontal_baseline.png" />
    <img src="/static/images/logo-ft-horizontal.svg" class="logo-pe-mobile" />
    <img class="logo-mobile" src="/static/images/Republique_Francaise_RVB.png" />
    <img class="logo-mobile" src="/static/images/logo_Anotea_Horizontal_baseline.png" />

    <div class="menu-footer">
        <a href="https://github.com/StartupsPoleEmploi/anotea" target="_blank">GitHub</a>
        <a href="/cgu">CGU</a>
        <a href="#" class="open-modal-contact">Contact</a>
        <a href="<%= utils.getBackofficeUrl() %>">Administration</a>
    </div>

    <img src="/static/images/logo-ft-horizontal.svg" class="logo-pe" />
</div>