html {
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: 'Droid Sans', Verdana, sans-serif;
    color: #8E9093;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    margin: 0px;
}


/*****************header****************/

body>div {
    max-width: 760px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

header {
    text-align: center;
}


header h1 {
    color: #1E2127;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}

header p {
    color: #8E9093;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

header .links {
}

header .link {
	height: 64px;
	width: 238px;
	border-radius: 5px;
    background-color: #F0801A;
    font-size: 16px;
    line-height: 24px;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
}

div.clear {
    clear: both;
}

header .link:hover {
    cursor: pointer;
}

header .link a {
    color: white;
    text-decoration: none;
}

.logoAnotea {
    height: 120px;
}

.error-page {
    margin-top: 60px;
}

.servicePro {
    font-size: 14px;
    top: 60px;
    margin-left: 500px;
    position: absolute;
}

.servicePro img {
    vertical-align: middle;
}

.serviceProQuestionnaire {
    margin-left:25%;
    margin-top: 10px;
}

.logoRegion {
    width: 140px;
}

section.questionnnaire {
    margin-top: 60px;
}


/***************section*****************/

body>div>section>h2 {
    font-size: 20px;
    color: #F0801A;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

#intitule {
    text-align: center;
}

#formationB,
#formationD,
#formationE {
    font-weight: bold;
    font-size: 14px;
}

#formationF,
#formationG {
    font-size: 14px;
}


/******tableau*******/

.contour {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    border-radius: 5px;
}


/********étoiles*******/

.starSpace {
    position: absolute;
    margin-left: 440px;
    margin-top: 40px;
}

.rating-input {
    display: none;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
    background-position: 0 0;
    cursor: pointer;
}

.rating-star,
.rating:hover .rating-star {
    float: right;
    width: 34px;
    height: 24px;
    background: url('../../img/star.png') 0 -24px;
}

.grey {
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 5px;
}

.white {
    height: 100px;
}

hr {
    padding: 0px;
    margin: 0px;
}

.appreciation {
    background-color: #696969;
    width: 156px;
    height: 20px;
    margin-top: 10px;
    margin-left: 442px;
    border-radius: 3px;
    visibility: hidden;
    position: absolute;
}

.titreSection {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
}

.descriptionSection {
    font-size: 13px;
    margin-left: 20px;
    position: absolute;
    margin-top: 42px;
}

.alert-validation {
    color: red;
    font-size: 12px;
    position: absolute;
    margin-left: 400px;
    margin-top: 72px;
}

.suivant {
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: 40px;
}

.suivantTxt {
    background-color: #99b3ff;
    width: 210px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 6px 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
        body {
    background: white;
}
    body>div {
         padding: 0px 0px 0px 0px;
        max-width: 600px;
        background-color: white;
        margin: 0px 40px 0px 40px;
    }

    header {
        padding-top: 10px;
        position: relative;
    }

    .servicePro {
        font-size: 14px;
        margin-top: 38px;
        margin-left: 40%;
        position: absolute;
    }

    .logoPE {
        width: 60px;
    }
    .logoIleDeFrance {
        width: 100px;
    }
    /*************/
    body>div>section>h1 {
        font-size: 16px;
        color: rgb(77, 122, 219);
        text-align: center;
        font-weight: bold;
        margin-top: 40px;
    }
    #intitule {
        text-align: center;
    }
    #formationB,
    #formationD,
    #formationE {
        font-weight: bold;
        font-size: 10px;
    }
    #formationF,
    #formationG {
        font-size: 10px;
    }
    /***********tableau***********/
    .contour {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        border-radius: 5px;
    }
    .grey {
        background-color: #f2f2f2;
        height: 150px;
        border-radius: 5px;
        margin-top: 0px;
        padding: 10px 10px 0px 10px;
    }
    .white {
        height: 150px;
        margin-top: 0px;
        padding: 10px 10px 0px 10px;
    }
    hr {
        padding: 0px;
        margin: 0px;
    }
    .appreciation{
        background-color: #696969;
        width: auto;
        height: 20px;
        margin-top: 30px;
        margin-left: 0px;
        border-radius: 3px;
        visibility: hidden;
        position: absolute;
        border-top: inherit;
        padding: 0px 5px 18px 5px;
    }

    .titreSection {
        font-weight: bold;
        font-size: 17px;
        position: relative;
        text-align: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .descriptionSection {
        font-size: 15px;
        margin-left: 0px;
        position: relative;
        margin-top: 10px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 18px;
    }
    .alert {
        color: red;
        font-size: 10px;
        position: relative;
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    #alert6 {
        font-size: 12px;
        margin-top: -70px;
    }

    .starSpace {
        position: absolute;
        margin-left: 30%;
        margin-top: -2px;
    }

    .serviceProQuestionnaire {
        margin-left:0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .starSpace {
        position: absolute;
        margin-left: 15%;
        margin-top: -2px;
    }
    .logoRegion {
        width: 98px;
    }
    .serviceProQuestionnaire span {
        font-size: 8px;
    }
}


/*****page2*****/

.formulaire {
    max-width: 380px;
    margin: auto;
    background-color: white;
}

.titre {
    font-size: 20px;
    color: rgb(77, 122, 219);
    text-align: center;
    font-weight: bold;
}

.group {
    position: relative;
    margin-bottom: 45px;
    margin-left: 0px;
}

input {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */

.lb2 {
    color: #808080;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    margin-top: -30px;
    padding-bottom: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#icon1,
#icon2 {
    position: absolute;
    top: 10px;
    left: -30px;
}

#iconCheck,
#iconClose {
    position: absolute;
    margin-top: -28px;
    margin-left: 90%;
    display: none;
}

#iconCheck {
    color: green;
}

#iconClose {
    color: red;
}

#tag {
    resize: none;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: arial;
    border: solid 1px black;
}

datalist {
    display: none;
}

.azerty {
    margin-left: 0px;
}

#box1 {
    width: auto;
    display: inline;
}

#autorisation, #autorisationEntreprise {
    font-size: 14px;
    color: black;
}

.suivant2 {
    background-color: #4d79ff;
    color: white;
    width: 210px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-left: 20%;
    cursor: pointer;
    padding: 6px 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.facu {
    font-size: 12px;
    color: #808080;
    text-align: center;
    margin-bottom: 50px;
}

/***page3***/

.divPage3 {
    margin-top: 50px;
    border-radius: 4px;
    text-align: center;
    border-top: 3px solid #F4F4F4;
}
.divPage3 h3 {
    color: #1E2127;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}
.divPage3 h3.publishedOn {
    font-size: 18px;
    margin-bottom: 30px;
}
.divPage3 p {
    margin: 35px;
}

.divPage3 a {
    color: #F0801A;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}

.divPage3 .link {
    width: 30%;
    float: left;
    margin: 20px 55px 50px 55px;
}

.divPage3 .link img {
    display: block;
    margin: auto;
}

.txtPage3 {
    text-align: center;
    font-size: 16px;
}
.remerciements {
    clear: both;
}
.remerciements a {
    margin: 70px;
}
.imgLien {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    border-top: 3px solid #F4F4F4;
    height: 100px;
}

/***refus***/

.badWord {
    margin-top: 60px;
    text-align: center;
}

.retour {
    margin-top: 40px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 3px;
    background-color: #4d79ff;
    color: white;
    cursor: pointer;
}

/***erreur***/

section.error-page {
    text-align: center;
}

section.error-page h2 {
    font-size: 20px;
    color: rgb(77, 122, 219);
    text-align: center;
    font-weight: bold;
}
