@import '../../../../../../styles/variables';

.Stagiaire {

  font-size: 1rem;

  .togglable {
    cursor: pointer;
    font-size: 12px;
  }

  .pseudo {
    font-weight: $font-weight-700;
    color: $color-black;
  }

  .masked {
    opacity: 0.5;
    color: $color-grey-50;

    &.pseudo {
      text-decoration: line-through;
    }
  }

  .stars {
    font-size: 1rem;
    letter-spacing: 2px;
    color: $color-yellow;

    &.empty {
      color: $color-grey-25;
    }
  }

  .by {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: $color-grey-50;
  }

  .creation {
    font-size: 0.75rem;
    line-height: 1rem;
    color: $color-grey-50;
  }

  .status {
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 0.75rem;
    font-weight: $font-weight-700;

    &.published {
      background-color: $color-white;
      color: $color-green;
      border: 2px solid $color-green;
    }

    &.rejected {
      background-color: $color-white;
      color: $color-red;
      border: 2px solid $color-red;
    }
  }
}

