@import '../../../../styles/variables';

.OrganismePanel {

  .column-title {
    opacity: 0.87;
    color: $color-grey-50;
    font-size: 0.75rem;
    font-weight: $font-weight-700;
    line-height: 1rem;
    letter-spacing: 0.38px;
    text-transform: uppercase;
  }
}
