    .forgottenPassword {
        background-color: #384EAA;
    }

    .forgottenPassword h1 {
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 60px;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
    }

    .forgottenPassword .block {
        margin: auto;
        height: auto;
        width: 21.875em;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(17,24,30,0.1);
    }

    .forgottenPassword .content {
        margin: auto;
        margin-top: 30px;
        width: 70%;
    }

    .forgottenPassword .info {
        display: inline-block;
    }

    .forgottenPassword .block {
        margin-top: 20px;
    }

    .forgottenPassword .info {
        padding-left: 40px;
    }

    .forgottenPassword .passwordLost {
        margin: auto;
        width: 50%;
    }

    .forgottenPassword .asked {
        margin: auto;
        background-color: #E3F1EC;
        height: 56px;	
        padding: 1rem;
        border-radius: 5px;
        color: #007E54;
        font-size: 14px;
        line-height: 24px;
        font-family: Lato;
        width: 25em;
    }

    .forgottenPassword .passwordLost {
        display: inherit;
    }

    .forgottenPassword .passwordChanged {
        text-align: center;
    }

    .forgottenPassword .block h4 {
        padding-top: 16px;
        color: #384EAA;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
    }

    .identifiant h1, .mot-de-passe h1 {
        margin-left: 16px;
        margin-top: 29px;
        margin-bottom: 8px;
        height: 19px;
        color: #24303A;
        text-align: left;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
    }
    
    .clarification {
        margin-left: 16px;
        margin-right: 16px;
        height: 56px;
        margin-top: 6px;
        font-size: 14px;
        opacity: 0.6;
        color: #24303A;
        line-height: 18px;
    }
    
    .identifiant-incorrect {
        width: 21.875em;
        background-color: #FBEAEA;
        height: 56px;
        border-radius: 5px;
        color: #DD3433;
        margin: auto;
        padding: .8rem;
        margin-top: 16px;
    }
    
    .forgottenPassword .block .error {
        background-color: #FBEAEA;
        border-radius: 5px;
        margin: 10px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        border: none;
        color: #DD3433;
        padding: .5rem;
    }

    .forgottenPassword .block .form-control {
        border-radius: 5px;
        margin: 10px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        background-color: #f4f4f5;
        border: none;
    }
    
    .forgottenPassword .block .wrapper {
        text-align: center;
    }
    
    .forgottenPassword .loginHelp {
        margin-top: 26px;
        height: 40px;
        color: #384EAA;
        font-family: Lato;
        font-size: 14px;
        line-height: 17px;
    }
