@import '../../styles/variables';
    
    .forgottenPassword {
        background-color: $color-blue;
        height: 100vh;
    }

    .forgottenPassword h1 {
        text-align: center;
        color: $color-white;
        margin-bottom: 60px;
        font-family: Lato;
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.1875rem;
    }

    .forgottenPassword .block {
        margin: auto;
        height: auto;
        width: 21.875em;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: 0 2px 4px 0 rgba(17,24,30,0.1);
    }

    .forgottenPassword .content {
        margin: auto;
        margin-top: 30px;
        width: 70%;
    }

    .forgottenPassword .info {
        display: inline-block;
    }

    .forgottenPassword .block {
        margin-top: 20px;
    }

    .forgottenPassword .info {
        padding-left: 40px;
    }

    .forgottenPassword .passwordLost {
        margin: auto;
        width: 50%;
    }

    .forgottenPassword .asked {
        margin: auto;
        margin-top: 16px;
        background-color: #E3F1EC;
        height: 56px;	
        padding: 1rem;
        border-radius: 5px;
        color: #007E54;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-family: Lato;
        width: 25em;
    }

    .forgottenPassword .passwordLost {
        display: inherit;
    }

    .forgottenPassword .passwordChanged {
        text-align: center;
    }

    .forgottenPassword .block h4 {
        padding-top: 16px;
        margin-bottom: 0px;
        color: $color-blue;
        text-align: center;
        font-family: Lato;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.8125rem;
    }

    .mdp-oublie-identifiant h1 {
        margin-left: 16px;
        margin-top: 32px;
        margin-bottom: 8px;
        height: 19px;
        color: $color-black;
        text-align: left;
        font-family: Lato;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.1875rem;
    }
    
    .clarification {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 24px;
        margin-bottom: 16px;
        height: 56px;
        font-size: 0.875rem;
        font-family: lato;
        opacity: 0.6;
        color: $color-black;
        line-height: 1.125rem;
    }

    .contactez-nous {
        text-decoration: underline;
        font-family: Lato;
        color: $color-blue;
        font-size: 0.875rem;
        line-height: 1.125rem;
        cursor: pointer;
    }

    .wrapper .group-btn .btn-retour {
        margin-bottom: 16px;
        height: 40px;
        width: 7.750em;
        color: $color-black;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.1px;
        border: none;
        border-radius: 5px;
        background-color: $color-white;
        cursor: pointer;
        text-transform: uppercase;
        font-family: lato;

        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    
    .identifiant-incorrect {
        width: 21.875em;
        background-color: $color-red-10;
        height: 56px;
        border-radius: 5px;
        color: #DD3433;
        margin: auto;
        padding: .8rem;
        margin-top: 1rem;
    }
    
    .forgottenPassword .block .error {
        background-color: $color-red-10;
        border-radius: 5px;
        margin: 0px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        border: none;
        color: $color-red;
        padding: .5rem;
    }

    .forgottenPassword .block .form-control {
        border-radius: 5px;
        margin: 0px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        background-color: $color-grey-5;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
    
    .forgottenPassword .block .wrapper {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .forgottenPassword .loginHelp {
        margin-top: 26px;
        height: 40px;
        color: $color-blue;
        font-family: Lato;
        font-size: 0.875rem;
        line-height: 1.0625rem;
    }
