    .loginForm {
        background-color: #384EAA;
        height: 100vh;
    }

    .loginForm h1 {
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 64px;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
    }

    .loginForm .block {
        margin: auto;
        height: auto;
        width: 21.875em;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(17,24,30,0.1);
    }

    .loginForm .block h4 {
        padding-top: 16px;
        color: #384EAA;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
    }

    .identifiant h1 {
        margin-left: 16px;
        margin-top: 29px;
        margin-bottom: 8px;
        height: 19px;
        color: #24303A;
        text-align: left;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
    }

    .loginForm .block .error {
        background-color: #FBEAEA;
        border-radius: 5px;
        margin: 0px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        border: none;
        color: #DD3433;
        padding: .5rem;
    }

    .password-error {
        background-color: #FBEAEA;
        border-radius: 5px;
        margin: 0px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        border: none;
        padding: .8rem;
    }

    .loginForm .block .form-control {
        border-radius: 5px;
        margin: 10px 16px 0px 16px;
        width: 19.875em;
        height: 40px;
        background-color: #f4f4f5;
        border: none;
        font-size: 16px;

        &:focus {
            box-shadow: none;
        }
    }

    .loginForm .loginHelp {
        margin-top: 34px;
    }

    .loginForm .loginHelp .btn {
        text-decoration: underline;
        font-family: lato;
        font-size: 16px;
        color: #384EAA;
    }

    .loginForm .block .wrapper {
        margin-top: 10px;
    }
    
    .wrapper .group-btn .btn {
        margin-bottom: 16px;
        height: 40px;
        width: 7.750em;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #384EAA;
        font-weight: bold;
        letter-spacing: 0.5px;
        border: none;
        border-radius: 5px;
        background-color: #EBEDF6;
        cursor: pointer;
        text-transform: uppercase;
        font-family: lato;

        &:focus {
            background-color: #8895CC;
            box-shadow: none;
        }

        &:hover {
        background-color: #C3C9E5;
        }
    }

    .bad-credential {
        color: #DD3433;
        width: 19.875em;
        height: 16px;
        font-size: 12px;
        margin-left: 16px;
        font-family: Lato;
    }

    
    .loginForm .block .wrapper, .loginForm .loginHelp {
        text-align: center;
    }

    .identifiant h1, .mot-de-passe h1 {
        margin-left: 16px;
        margin-top: 29px;
        margin-bottom: 8px;
        height: 19px;
        color: #24303A;
        text-align: left;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
    }

    .identifiant-incorrect {
        width: 21.875em;
        background-color: #FBEAEA;
        height: 56px;
        border-radius: 5px;
        color: #DD3433;
        margin: auto;
        padding: .8rem;
        margin-top: 16px;
    }
