@import '../../styles/variables';

.average-score {
    display: inline;

    .score {
		color: $color-black;
		line-height: 39px;
		text-align: center;
	    display: inline-block;
        margin-top: 0px;
        width: 70px;
        
        .averageScore {
            font-size: 2rem;
            font-weight: 900;
        }
    }

    .tooltip-block {
        display: none;
    }
}
