@import '../../styles/variables';

.formation {

  text-align: center;
  padding-top: 3rem;

  .logo {
    position: fixed;
    top: 5%;
    right: 10%;
    z-index: 1030;
  }

  h1 {
    color: $color-blue;
    font-size: 1.8rem;
    font-weight: 900;
  }


  .title {
    font-weight: bolder;
  }

  .description {
    margin-top: 1rem;
  }
}
