@import '../../styles/variables';

.note {
	width: 514px;
	height: 93px;
	margin: 0px;

	.title {
		height: 19px;
		width: 255px;
		color: $color-black;
		font-size: 16px;
		font-weight: 900;
	    line-height: 19px;
		display: block;
		padding-top: 16px;
		padding-left: 16px;
	}

	.description {
		display: block;
		height: 35px;
		width: 304px;
		opacity: 0.6;
		color: $color-dark;
		font-size: 14px;
		line-height: 17px;
		padding-top: 4px;
		padding-left: 16px;
	}

    .odd {
        background-color: $color-grey-5;
    }
}
