.send-button {

    display: inline;

    button {
        height: 43px;
        width: 128px;
        border-radius: 5px;
        background-color: #EBEDF6;
        border: 0px;
        margin-top: 33px;
        left:40%;
	    color: #384EAA;
	    font-size: 16px;
	    font-weight: bold;
	    letter-spacing: 2px;
        line-height: 19px;
        text-transform: uppercase;
        cursor: pointer;
    }

    button[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
