@import '../../styles/variables';

.stars {
    .far.fa-star {
        color: $color-black;
    }
    
    .fas.fa-star, .fas.fa-star-half-alt {
        color: $color-yellow;
        cursor: pointer;
    }
    
    .tooltipBlock {
        height: 20px;
    }
    
    .starBlock {
        display: inline;
        position: relative;
        margin-left: 3px;
    }
    
    .tooltip {
        border-radius: 2px;
        background-color: #24303A;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        font-weight: normal;
        padding: 3px;
        margin: auto;
    }
    
    .tooltip.inactive {
        display: none;
    }
    
    .tooltip.active {
        display: inline-block;
    }
}

.stars.readonly {
    .fas.fa-star {
        cursor: inherit;
    }
}