@import '../../../../styles/variables';

.ToolbarTab {

  &.disabled {
    pointer-events: none;
    color: $color-grey-5;
    opacity: 0.2;
  }

  .pastille {
    color: $color-red;
    font-size: 0.825rem;
    vertical-align: top;
  }
}
