@import 'src/common/styles/variables';

.Backoffice .CommentairesPies {

  .title {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: $font-weight-boldest;
  }

  .box {
    @include box();

    .chart {
      flex: 5 0 500px;
      padding: 0rem 2rem 4rem 2rem;
      min-height: 250px;

      &.first{
        border-right: solid 1px $color-grey-25;
      }

      &.last, &.second  {
        border-right: unset;
      }

      .title {
        font-size: 1.125rem;
        font-weight: $font-weight-bold;
      }

      .description {
        font-size: 0.875rem;
        padding-bottom: 1rem;
      }

      @media screen and (max-width: 425px) {
        &.first{
          border-right: none;
        }
      }
    }

    @media screen and (max-width: 425px) {
      .chart{
        padding-left: 0;
        padding-right: 0;
        max-width: 323px;
      }
    }

    @media screen and (max-width: 375px) {
      .chart{
        padding-left: 0;
        padding-right: 0;
        max-width: 217px;
      }
    }
  }

}

