<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P&ocirc;le Emploi : Notez et commentez votre formation</title>
        <link rel="stylesheet" type="text/css" href="/static/css/errors.css" media="all">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    </head>

    <body>
        <div>
            <header>
                <img src="/static/images/logo_Anotea_Horizontal_baseline2.png" alt="" class="logoAnotea" />
            </header>

            <section class="error-page">
                <h2>Erreur interne du serveur</h2>
                <p>Un problème a lieu sur notre serveur, nous faisons tout pour le corriger au plus vite.</p>
            </section>

            <footer>
                <div class="servicePro">
                    <span>Service propulsé par</span>
                    <img src="/static/images/logo-pole-emploi.svg" alt="" class="logoPE" />
                </div>
            </footer>

        </div>
        <%- include('../common/analyticsTrackers'); %>
    </body>

</html>
