$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

$color-black: #24303A;
$color-dark: #11181E;
$color-black-80: rgba(35, 47, 56, 0.8);
$color-black-60: rgba(35, 47, 56, 0.6);
$color-white: #FFFFFF;
$color-grey-50: #91979C;
$color-grey-25: #C8CBCE;
$color-grey-5: #F4F4F5;

$color-blue-dark: #1C2755;
$color-blue: #384EAA;
$color-blue-60: #8895CC;
$color-blue-30: #C3C9E5;
$color-blue-10: #EBEDF6;

$color-red-dark: #751314;
$color-red: #DD3433;
$color-red-60: #EB8585;
$color-red-30: #F4C2C1;
$color-red-10: #FBEAEA;

$color-green-dark: #00432B;
$color-green: #007E54;
$color-green-60: #66B298;
$color-green-30: #B2D8CB;
$color-green-10: #E5F2ED;

$color-orange-dark: #751314;
$color-orange: #F28017;
$color-orange-60: #F7A583;
$color-orange-30: #FBD2C0;
$color-orange-10: #FDF0EA;

$color-yellow-dark: #751314;
$color-yellow: #F2B630;
$color-yellow-60: #F7D383;
$color-yellow-30: #F6F0E0;
$color-yellow-10: #FDF7EA;

$shadow: 0 0.115rem 0.625rem -2px rgba(0, 0, 0, 0.15) !important;

@mixin profile-background-color() {
  &.financeur {
    background-color: $color-green;
  }

  &.moderateur {
    background-color: $color-blue;
  }

  &.organisme {
    background-color: $color-black;
  }

  &.anonymous {
    background-color: $color-blue;
  }
}

@mixin box() {
  background-color: $color-white;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: $shadow;
}

