$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

$color-black: #24303A;
$color-dark: #11181E;
$color-white: #FFFFFF;
$color-yellow: #F0801A;

$color-grey-50: #91979C;
$color-grey-25: #C8CBCE;
$color-grey-5: #F4F4F5;

$color-blue-dark: #1C2755;
$color-blue: #384EAA;
$color-blue-60: #8895CC;
$color-blue-20: #C3C9E5;
$color-blue-10: #EBEDF6;

$color-red-dark: #751314;
$color-red: #DD3433;
$color-red-60: #EB8585;
$color-red-20: #F4C2C1;
$color-red-10: #FBEAEA;

$color-green-dark: #00432B;
$color-green: #007E54;
$color-green-60: #66B298;
$color-green-20: #B2D8CB;
$color-green-10: #E5F2ED;

$shadow: 0 0.115rem 0.625rem rgba($color-black, 0.5) !important;

