<div class="footer">
    <a href="/faq">Foire aux questions</a>
    <a href="/cgu">CGU</a>
    <a href="/admin">Espace Organisme de formation</a>
    <a href="https://github.com/StartupsPoleEmploi/anotea" target="_blank">GitHub</a>
</div>