.autorisations {
    .input_accord {
        height: 14px;
          width: 14px;
          border: 1px solid #C8CBCE;
          border-radius: 5px;
          background-color: #F4F4F5;
          box-shadow: inset 0 1px 4px 0 rgba(17,24,30,0.15);
      }
      
      .input_accord_entreprise {
        height: 14px;
        width: 14px;
        border: 1px solid #C8CBCE;
        border-radius: 5px;
        background-color: #F4F4F5;
        box-shadow: inset 0 1px 4px 0 rgba(17,24,30,0.15);
      }
      
      .span_accord_entreprise {
        height: 17px;
        width: 250px;
        color: #24303A;
        font-size: 14px;
        line-height: 17px;
        margin-left: 8px;
      }
      
      .span_accord {
        height: 17px;
        width: 250px;
        color: #24303A;
        font-size: 14px;
        line-height: 17px;
        margin-left: 8px;
      }
      
      .autorisations {
        margin-top: 32px;
        margin-left: 26px;
        display: block;
      }
      
      .item2 {
        padding-top: 16px;
      }      
}
