@import '../styles/variables';

.autorisations {

    padding: 5px 20px 10px 30px;

    .input_accord {
        height: 14px;
        width: 14px;
        border: 1px solid $color-grey-25;
        border-radius: 5px;
        background-color: $color-grey-5;
        box-shadow: $shadow-light;
    }
      
    .input_accord_entreprise {
        height: 14px;
        width: 14px;
        border: 1px solid $color-grey-25;
        border-radius: 5px;
        background-color: $color-grey-5;
        box-shadow: $shadow-light;
    }
      
    span {
        width: 250px;
        color: $color-black;
        font-size: 0.9em;
        margin-left: 8px;
    }
      
    .autorisations {
        margin-top: 32px;
        margin-left: 26px;
        display: block;
    }
      
    .item2 {
        padding-top: 16px;
    }      
}
