@import '../styles/variables';

.champ-commentaire {
  .title {
    color: $color-black;
    font-size: 1rem;
    line-height: 19px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .title_texte {
    @extend .title;
    display: block;
  }

  .title_titre {
    @extend .title;
    display: block;
  }

  .title_pseudo {
    @extend .title;
    display: block;
  }

  .textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    background-color: $color-grey-5;
    margin-left: 15px;
    margin-top: 16px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 473px;
  }

  .textarea_pseudo, .textarea_titre {
    height: 55px;
  }

  .textarea_pseudo {
    @extend .textarea;
    display: block;
  }

  .textarea_texte {
    height: 79px;
    @extend .textarea;
  }

  .textarea_titre {
    @extend .textarea;
  }

  .placeholder {
    opacity: 0.6;
    color: $color-black;
    font-size: 0.9rem;
    font-style: italic;
    line-height: 21px;
  }

  .textarea_titre::placeholder, .textarea_texte::placeholder, .textarea_pseudo::placeholder {
    @extend .placeholder;
  }

  .remaining {
    font-size: 0.75rem;
    font-style: italic;
    text-align: right;
    padding: 5px 20px;
  }

  .remaining.yes {
    color: $color-black;
  }

  .remaining.no {
    color: $color-red;
  }

  textarea.badwords {
    border: solid 1px $color-red;
    color: $color-red;
  }

  .alert.badwords {
    color: $color-red;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 16px;
  }
}
