@import '../styles/variables';

.champ-commentaire {
  .title {
    height: 19px;
  	width: 243.87px;
  	color: $color-black;
  	font-size: 16px;
  	line-height: 19px;
    padding-left: 16px;
    padding-top: 16px;
  }

  .title_texte {
  	@extend .title;
    display: block;
  }

  .title_titre {
    @extend .title;
    display: block;
  }

  .title_pseudo {
    @extend .title;
    display: block;
  }

  .textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    background-color: $color-grey-5;
    margin-left: 15px;
    margin-top: 16px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 473px;
  }

  .textarea_pseudo, .textarea_titre {
    height: 55px;
  }

  .textarea_pseudo {
    @extend .textarea;
    display: block;
  }

  .textarea_texte {
  	height: 79px;
  	@extend .textarea;
  }

  .textarea_titre {
    @extend .textarea;
  }

  .placeholder {
    opacity: 0.6;
    color: $color-black;
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
  }

  .textarea_titre::placeholder {
    height: 18px;
  	max-width: 450.22px;
    @extend .placeholder;
  }

  .textarea_commentaire::placeholder {
    height: 63px;
  	max-width: 451.22px;
  	@extend .placeholder;
  }

  .textarea_pseudo::placeholder {
    height: 18px;
  	width: 451.22px;
  	@extend .placeholder;
  }

    .remaining {
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        text-align: right;
        padding: 5px 20px;
    }

    .remaining.yes {
        color: $color-black;
    }

    .remaining.no {
        color: $color-red;
    }
}