// .title {
// 	height: 19px;
// 	width: 243.87px;
// 	color: #24303A;
// 	font-family: Lato;
// 	font-size: 16px;
// 	line-height: 19px;
//   padding-left: 16px;
// }
.title_commentaire {
	height: 19px;
	width: 243.87px;
	color: #24303A;
	font-family: Lato;
	font-size: 16px;
	line-height: 19px;
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
}

.title_titre {
	height: 19px;
	width: 243.87px;
	color: #24303A;
	font-family: Lato;
	font-size: 16px;
	line-height: 19px;
  padding-left: 16px;
  margin-top: 16px;
  display: block;
}

.title_pseudo {
	height: 19px;
	width: 243.87px;
	color: #24303A;
	font-family: Lato;
	font-size: 16px;
	line-height: 19px;
  padding-left: 16px;
  margin-top: 16px;
  display: block;
}

.input_pseudo {
  height: 34px;
  width: 468px;
  border-radius: 5px;
  background-color: #F4F4F5;
  margin-left: 25px;
  margin-top: 16px;
}

.input_commentaire {
	height: 79px;
	width: 468px;
	border-radius: 5px;
	background-color: #F4F4F5;
  margin-left: 25px;
  margin-top: 16px;
}

.input_titre {
	height: 34px;
  width: 468px;
  border-radius: 5px;
  background-color: #F4F4F5;
  margin-left: 25px;
  margin-top: 16px;
}
