h3 {
  color: #FFFFFF;
  font-family: Lato;
	font-size: 24px;
	font-style: italic;
	line-height: 29px;
  height: 45px;
  width: 500px;
  border-radius: 5px 5px 0 0;
  background-color: #384EAA;
  text-align: left;
  padding-left: 13px;
  margin: 0px;
}
