@import '../styles/variables';

.commentaire {
    width: 514px;
    padding-bottom: 20px;

    h3 {
        color: $color-white;
        font-size: 1.5rem;
        line-height: 45px;
        height: 45px;
        width: 500px;
        background-color: $color-blue;
        padding-left: 13px;
        margin: 0px;
    }
    .description {
        font-style: italic;
        font-weight: normal;
        color: $color-grey-5;
    }

    .frame {
        border-right: 1px solid $color-grey-5;
        border-left: 1px solid $color-grey-5;
        border-bottom: 1px solid $color-grey-5;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 15px;
    }
}
