@import '../styles/variables';

.footer {
    margin: 200px 0px 40px 0px;

    .propulsed {
        color: $color-black;
        font-size: 0.85rem;
    }
    
    img {
        vertical-align: middle;
    }
    
    .logoPE {
        margin-right: 20px;
    }
}
