.footer {
    margin: 200px 0px 40px 0px;

    .propulsed {
        height: 17px;
        width: 125px;
        color: #24303A;
        font-size: 14px;
        line-height: 17px;
    }
    
    img {
        vertical-align: middle;
    }
    
    .logoPE {
        margin-right: 20px;
    }
}
