@import '../styles/variables';

.header {
    left: -50px;
    position: relative;
    text-align: center;

	.logo {
	    left: 670px;
	    position: relative;
	    top: 110px;
	}

	h1 {
		color: $color-blue;
		font-size: 2rem;
		font-weight: 900;
	}

	h2 {
	    width: 621px;
	    color: $color-black;
	    font-size: 1rem;
	    line-height: 24px;
	}
}
