@import '../styles/variables';

.header {
    width: 520px;
    position: relative;
    text-align: center;

	.logo {
	    left: 670px;
	    position: relative;
	    top: 110px;
	}

	h1 {
		color: $color-blue;
		font-size: 2rem;
		font-weight: 900;
	}

	h2 {
        width: 500px;
	    color: $color-black;
        font-size: 1rem;
        line-height: 24px;
        margin-left: 10px;
	}
}
