@import '../styles/variables';

.note-moyenne {
	width: 512px;
	height: 73px;
    margin: 0px;
    
    border-right: 1px solid $color-grey-5;
    border-left: 1px solid $color-grey-5;

    .label {
        width: 70%;
        display: inline-block;
        height: 100px;
        .title {
            height: 22px;
            color: $color-black;
            font-size: 18px;
            font-weight: 900;
            line-height: 22px;
            display: block;
            margin-left: 16px;
            padding-top: 16px;
        }

        .description {
            height: 34px;
            opacity: 0.6;
            color: $color-dark;
            font-size: 14px;
            line-height: 17px;
            margin-left: 16px;
        }    
    }

    .score {
        position: relative;
        top: -14px;
        left: 65px;
    }

    .stars {
        height: 20px;
        width: 130px;
        margin-left: 390px;
        position: relative;
        left: 30px;
    }
}
