h3 {
	height: 29px;
	width: 380px;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 24px;
    font-weight: 900;
    line-height: 45px;
    height: 45px;
    width: 500px;
    border-radius: 5px 5px 0 0;
    background-color: #384EAA;
    text-align: left;
    padding-left: 13px;
}