.note {
	width: 514px;
	height: 93px;
	margin: 0px;
}

.even {
	background-color: #F4F4F5;
}

.title {
	height: 22px;
	width: 255px;
	color: #24303A;
	font-family: Lato;
	font-size: 18px;
	font-weight: 900;
  line-height: 22px;
	display: block;
	padding-top: 16px;
	display: block;
}

.description {
	display: block;
	height: 34px;
	width: 296px;
	opacity: 0.6;
	color: #11181E;
	font-family: Lato;
	font-size: 14px;
	line-height: 17px;
	margin-top: 4px;
}
