@import '../styles/variables';

.notes {
    h3 {
        height: 29px;
        width: 380px;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 45px;
        height: 45px;
        width: 500px;
        border-radius: 5px 5px 0 0;
        background-color: $color-blue;
        text-align: left;
        padding-left: 14px;
        margin: 0px;
    }

    .note-details {
		width: 514px;
	  	height: 37px;
	  	margin: 0px;
	    background-color: $color-grey-5;
	    display: block;

			.label {
				color: $color-black;
				font-size: 1rem;
				line-height: 19px;
			    display: inline-block;
			    padding-left: 16px;
				padding-top: 8px;
			}
    }
    
    .stars {
        height: 20px;
        width: 130px;
        margin-left: 390px;
        margin-top: -60px;
    }

    .note-container {
        .fas.fa-times {
            display: none;
        }
    }

    .note-container.missing {
        .fas.fa-times {
            display: inherit;
            color: $color-red;
            float: left;
            position: relative;
            left: -20px;
            top: 40px;
        }

        .note {
            border: 1px solid $color-red;
            background-color: $color-red-10;
            margin: 3px;
        }
    }
}
