.notes {
    h3 {
        height: 29px;
        width: 380px;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 900;
        line-height: 45px;
        height: 45px;
        width: 500px;
        border-radius: 5px 5px 0 0;
        background-color: #384EAA;
        text-align: left;
        padding-left: 14px;
        margin:0px;
    }

    .note-details {
		width: 514px;
	  	height: 37px;
	  	margin: 0px;
	    background-color: #F4F4F5;
	    display: block;

			.label {
				height: 21px;
				width: 284.93px;
				color: #24303A;
				font-size: 16px;
				line-height: 19px;
			    display: inline-block;
			    padding-left: 16px;
				padding-top: 8px;
			}
    }
    
    .stars {
        height: 20px;
        width: 130px;
        margin-left: 390px;
        margin-top: -60px;
    }
}
