.sendButton {
	height: 43px;
	width: 128px;
    border-radius: 5px;
    background-color: #EBEDF6;
    border: 0px;
    margin-top: 33px;
    position:relative;
    left:40%;

    .strong {
	    height: 19px;
	    width: 81px;
	    color: #384EAA;
	    font-size: 16px;
	    font-weight: bold;
	    letter-spacing: 2px;
	    line-height: 19px;
    }
}
