@import '../styles/variables';

.summary-modal {

    h2 {
        text-align: center;
        margin: 10px 0px 20px 0px;
    }

    .summary {
        height: 160px;
        border: 1px solid $color-grey-25;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: 5px;
        width: auto;

        .header {
            height: 109px;
            
            .stars {
                margin-top: -10px;
            }
        }

        ul.note-list {
            padding: 0;

            li:first-child {
                border-left: none;
            }

            li {
                display: block;
                border: 1px solid $color-grey-25;
                border-right: none;
                float: left;
                height: 50px;

                h3 {
                    margin: 0px;
                    font-weight: normal;
                    font-size: 1em;
                    text-overflow: ellipsis;
                    text-overflow: fade(10px);
                    text-overflow: fade(5%);
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    color: $color-grey-50;
                }

                span {
                    font-weight: bold;
                    font-size: 14px;

                    .fas.fa-star {
                        color: $color-yellow;
                    }
                }
            }
        }
    }

    .buttons {
        float: right;

        .cancel {
            color: $color-red;
            margin-right: 20px;
        }
    }
}

.ReactModalPortal .ReactModal__Overlay {
    background-color: rgba(0,0,0,0.75) !important;
}
