@import '../../../../../styles/variables';

.TextSummary {
  span {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid $color-grey-25;

    &:last-child {
      padding-right: 0;
      border-right: unset;
    }
  }
}
