@import '../../../../styles/variables';

.Summary {

  font-size: 1.125rem;
  font-weight: $font-weight-400;
  text-align: center;
  position: relative;

  .type {
    font-weight: $font-weight-700;
  }

  .pages {
    color: $color-grey-50;
    font-weight: $font-weight-400;
    font-size: 0.875rem;
    opacity: 0.75;
  }
}
