@import '../../../../styles/variables';

.Tabs {
  .nav {
    text-align: center;
    font-size: 1.5rem;
    font-weight: $font-weight-900;
    color: $color-white;

    .nav-item {

      opacity: 0.6;

      &.active {
        opacity: 1;

        &:hover, &:focus {
          font-weight: $font-weight-400;
        }
      }

      &:hover, &:focus {
        cursor: pointer;
        font-weight: $font-weight-700;
      }
    }
  }
}
