@import '../../../../../styles/variables';

.NewPanel {

  background-color: $color-white;
  height: 100%;

  .filters-holder {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background-color: $color-grey-5;
  }

  .summary-holder {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .pagination-holder {
    margin-top: 2rem;
  }

}
