@import '../styles/variables';

.ListeWidget {

  &.empty {
    opacity: 0.8;
  }

  .summary {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .line {
    min-height: 3.4rem;

    &.sort {
      font-size: 0.875rem;
      color: $color-black-80;
      border-top: 1px solid $color-grey-25;

      select {
        background-color: $color-white;
        border: 1px solid $color-black-80;

        &:focus {
          outline: 0;
        }
      }

      button {
        background-color: unset;
        border: none;
        color: $color-black-60;

        &:focus {
          outline: 0;
        }

        &.active {
          color: $color-black;
        }
      }
    }
  }

  .pagination {
    font-size: 0.75rem;

    .nav {

      color: $color-black;
      padding: 0.25rem 0.5rem;
      text-transform: unset;

      &.inactive {
        visibility: hidden;
      }
    }
  }
}
