@import '../styles/variables';

.ListeWidget {

  &.empty {
    opacity: 0.8;
  }

  .summary {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .line {
    min-height: 3.4rem;
  }

  .pagination {
    font-size: 0.75rem;

    .nav {

      color: $color-black;
      padding: 0.25rem 0.5rem;
      text-transform: unset;

      &.inactive {
        visibility: hidden;
      }
    }
  }
}
