<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/front/home.css" media="all">
</head>
<body>
    <header class="pe-connect-header">
        <img alt="logo" class="logo" src="/static/images/logo.svg" />
        <div class="login">
            <a href="/admin" class="connect-bo">CONNEXION À VOTRE ESPACE ORGANISME DE FORMATION</a>
        </div>
    </header>
    <div class="pe-connect">
        <div class="content">
            <h1>Vous êtes Demandeur d'Emploi, votre formation est terminée.<br /><span class="action">Déposez votre avis.</span></h1>

            <div class="spacer"></div>

            <%if (failed) { %>
                <div class="error">Connexion échouée</div>
            <% } %>

            <a href="<%= connectionLink %>" class="button-pe-connect"
                title="Connectez-vous &agrave; Anotéa en utilisant des identifiants p&ocirc;le emploi et b&eacute;n&eacute;ficiez d'un acc&egrave;s gratuit &agrave; ce service.">
                <img class="icon-pe-connect" src="/static/images/peconnect/pe-connect-barre-nav-b.svg"
                    alt="Ic&ocirc;ne P&ocirc;le emploi" width="300" height="75" />
                <img class="icon-pe-connect-hover" src="/static/images/peconnect/pe-connect-barre-nav-b-o.svg"
                    alt="Ic&ocirc;ne P&ocirc;le emploi" width="300" height="75" />
            </a>

            <p>Grâce à votre identifiant Pôle emploi, votre avis est anonyme et sécurisé.</p>
        </div>
    </div>
</body>

</html>