@import '../../../../../../styles/variables';

.Notes {

  font-size: 0.875rem;;

  .text {
    padding-left: 0;
    font-size: 1rem;
  }

  button {
    padding-left: 0;
    color: $color-blue;
    border: none;

    &.active, &:hover, &:focus {
      color: $color-blue;
      border: none;
      box-shadow: none;
    }
  }


  .details {
    border: 1px solid $color-grey-5;
    border-radius: 5px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .note {

      padding: 0.5rem 1rem;

      .title {
        margin-bottom: 0.1rem;
        color: $color-grey-50;
      }

      .text {
        font-weight: $font-weight-700;
      }

      .fa-star {
        color: $color-yellow;
      }

      .title {
        margin-bottom: 0.1rem;
        color: $color-grey-50;
      }

      .text {
        font-weight: $font-weight-700;
      }

      .fa-star {
        color: $color-yellow;
      }
    }
  }


}
