.email.current {
    font-weight: bold;
}

.email.not-current {
    font-style: italic;
    color: #888;
}

.email.not-current .icon {
    display: none;
}

.email.not-current.anoteaEmail .view {
    display: none;
}