<% if (!webView && locals.consultationLink) { %>
    <p class="consultationLink">
        <a href="<%= consultationLink %>" target="_blank">Si vous ne parvenez pas à lire ce mail, cliquez-ici</a>
    </p>
<% } %>

<div class="header">
    <img
            class="logo-left"
            src="<%= utils.getPublicUrl('/static/images/email/logo_Anotea_Horizontal_baseline2.png') %>" alt=""
    />
    <img
            class="logo-right"
            src="<%= utils.getPublicUrl(`/static/images/regions/logo-email/logo_${codeRegion}.png`) %>" alt=""
    />
</div>
