@import '../../../../styles/variables';

.notes {

  .inner-row {
    margin-left: 0;
    margin-right: 0;
  }

  h3 {
	height: 2rem;
	color: $color-blue;
	font-size: 24px;
	font-weight: $font-weight-900;
	line-height: 29px;
  }

  .note-details {
    background-color: $color-grey-5;
    position: relative;

    .label {
      color: $color-black;
      font-size: 1rem;
      line-height: 19px;
      padding-left: 1rem;
    }

    .collapser {
      position: absolute;
      top: 0.5rem;
      right: 1rem;

      i {
        cursor: pointer;
      }
    }
  }

  .note-container {
    position: relative;

    &.missing {
      .note {
        border: 1px solid $color-red;
        background-color: $color-red-10;
      }
    }

    .fas.fa-times {
      color: $color-red;
      float: left;
      position: absolute;
      left: -15px;
      top: 40%;
    }
  }
}
