@import '../../../../styles/variables';

.notes {

  .inner-row {
    margin-left: 0;
    margin-right: 0;
  }

  h3 {
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 45px;
    border-radius: 5px 5px 0 0;
    background-color: $color-blue;
    text-align: left;
    padding-left: 1rem;
    margin: 0;
  }

  .note-details {
    background-color: $color-grey-5;
    position: relative;

    .label {
      color: $color-black;
      font-size: 1rem;
      line-height: 19px;
      padding-left: 1rem;
    }

    .collapser {
      position: absolute;
      top: 0.5rem;
      right: 1rem;

      i {
        cursor: pointer;
      }
    }
  }

  .note-container {

    &.missing {
      .note {
        border: 1px solid $color-red;
        background-color: $color-red-10;
        margin: 3px;
      }
    }

    .fas.fa-times {
      color: $color-red;
      float: left;
      position: absolute;
      left: -20px;
      top: 40%;
    }
  }
}
