@import '../../../../styles/variables';

.note-moyenne {

  border-right: 1px solid $color-grey-5;
  border-left: 1px solid $color-grey-5;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .label {

    .title {
      color: $color-black;
      font-size: 1.125rem;
      font-weight: 900;
      line-height: 22px;
      display: block;
    }

    .description {
      opacity: 0.6;
      color: $color-dark;
      font-size: 0.875rem;
    }
  }

  .score {
    text-align: right;
  }
}
