@import '../../../../../styles/variables';

.Panel {

  background-color: $color-white;
  padding-bottom: 3rem;

  &.grey {
    background-color: $color-grey-5;
  }

  &.blue {
    background-color: $color-blue;
  }

  .filters-holder {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background-color: $color-grey-5;
  }

  .summary-holder {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .section-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: $font-weight-900;
  }

  .pagination-holder {
    margin-top: 2rem;
  }

}
