@import 'src/common/styles/variables';

.Widget .CarrouselWidget {

  .empty {
    opacity: 0.8;
  }

  .carrousel {
    .summary {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #000;
      border-bottom-color: $color-grey-25;
      line-height: 0.1em;
      margin-bottom: 1rem;

      span {
        font-size: 0.75rem;
        text-transform: uppercase;
        background: #fff;
        padding: 0 10px;
      }
    }

    .pagination {
      font-size: 0.75rem;
      padding-bottom: 0.5rem;

      .nav {

        color: $color-black;
        padding: 0.25rem 0.5rem;
        text-transform: unset;

        &.inactive {
          visibility: hidden;
        }
      }
    }
  }
}
