<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Anotea - Documentation Widget</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description"
              content="Le widget Anotea vous permet d’intégrer et de promouvoir facilement les avis des stagiaires sur votre site web." />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="/static/js/widget/anotea-widget-loader.js"></script>
        <style>
            body {
                font-size: 1em;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
            }

            .header {
                background-color: #384eaa;
                color: white;
                padding: 1.25rem;
            }

            .grid-displayer {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10000;
                pointer-events: none;
                opacity: .1;
            }

            .grid-displayer span {
                display: block;
                height: 100vh;
                background: rgba(128, 128, 128, 1);
            }

            .widget {
                border: 1px solid #C8CBCE;
                border-radius: 5px;
                padding: 1rem;
                margin: 1rem 2rem;
            }

            .description {
                font-size: 0.875rem;
                color: #91979C;
            }

            .integration {
                font-size: 0.75rem;
                color: #91979C;
            }

            .integration a {
                color: #91979C;
            }

            h1 {
                padding: 1rem;
                font-size: 2.2rem;
            }

        </style>
    </head>

    <body>
        <div class="header container-fluid">
            <header>
                <img alt="logo" class="logo" src="/static/images/logo.svg" />
                <h1 class="text-center py-3">Exemples d'intégration du widget</h1>
            </header>
        </div>
        <div class="container">

            <section>
                <h1>Exemple d'une formation ayant des avis avec commentaires</h1>
                <div class="widget">
                    <h3 id="score">Score</h3>
                    <p class="description">
                        Formation 26_100646
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="formation"
                                    data-format="score"
                                    data-identifiant="26_100646">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/formation-pizzaiolo-empatement-direct-niveau-1-208380#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="carrousel">Carrousel</h3>
                    <p class="description">
                        Action 26_100646|26_145859_7591
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="action"
                                    data-format="carrousel"
                                    data-identifiant="26_100646|26_145859_7591">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/formation-pizzaiolo-empatement-direct-niveau-1-208380#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="liste">Liste</h3>
                    <p class="description">
                        Session 26_100646|26_145859_7591|145859_7591
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="session"
                                    data-format="liste"
                                    data-identifiant="26_100646|26_145859_7591|145859_7591">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/formation-pizzaiolo-empatement-direct-niveau-1-208380#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>
            </section>

            <section>
                <h1>Exemple d'une formation ayant des avis sans commentaires</h1>
                <div class="widget">
                    <h3 id="score">Score</h3>
                    <p class="description">
                        Formation 21_80476
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="formation"
                                    data-format="score"
                                    data-identifiant="21_80476">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-installateur-mainteneur-en-systemes-solaires-thermiques-et-photovoltaiques-411297#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="carrousel">Carrousel</h3>
                    <p class="description">
                        Action 21_80476|21_80476
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="action"
                                    data-format="carrousel"
                                    data-identifiant="21_80476|21_80476">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-installateur-mainteneur-en-systemes-solaires-thermiques-et-photovoltaiques-411297#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="liste">Liste</h3>
                    <p class="description">
                        Session 21_80476|21_80476|80476
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="session"
                                    data-format="liste"
                                    data-identifiant="21_80476|21_80476|80476">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-installateur-mainteneur-en-systemes-solaires-thermiques-et-photovoltaiques-411297#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>
            </section>

            <section>
                <h1>Exemple d'une formation sans avis</h1>
                <div class="widget">
                    <h3 id="score">Score</h3>
                    <p class="description">
                        Formation 04_A802615
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="formation"
                                    data-format="score"
                                    data-identifiant="04_A802615">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-serveur-en-restauration-specialisation-sommellerie-62139#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="carrousel">Carrousel</h3>
                    <p class="description">
                        Action 04_A802615|04_71556
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="action"
                                    data-format="carrousel"
                                    data-identifiant="04_A802615|04_71556">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-serveur-en-restauration-specialisation-sommellerie-62139#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="liste">Liste</h3>
                    <p class="description">
                        Session 04_A802615|04_71556|71556
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="session"
                                    data-format="liste"
                                    data-identifiant="04_A802615|04_71556|71556">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="https://labonneformation.pole-emploi.fr/annonce-formation/cqp-serveur-en-restauration-specialisation-sommellerie-62139#anotea">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>
            </section>

            <section>
                <h1>Exemple d'un organisme ayant des avis</h1>
                <div class="widget">
                    <h3 id="score">Score</h3>
                    <p class="description">
                        Organisme 40291262000182
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="organisme"
                                    data-format="score"
                                    data-identifiant="40291262000182">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="#">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="carrousel">Carrousel</h3>
                    <p class="description">
                        Organisme 40291262000182
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-4">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="organisme"
                                    data-format="carrousel"
                                    data-identifiant="40291262000182">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="#">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>

                <div class="widget">
                    <h3 id="liste">Liste</h3>
                    <p class="description">
                        Organisme 40291262000182
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div
                                    class="anotea-widget"
                                    data-options="contact-stagiaire"
                                    data-type="organisme"
                                    data-format="liste"
                                    data-identifiant="40291262000182">

                            </div>
                        </div>
                    </div>
                    <div class="integration text-right">
                        <a href="#">
                            <i class="fas fa-link"></i>Source
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="grid-displayer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                    <div class="col-sm-1"><span></span></div>
                </div>
            </div>

        </div>
    </body>

</html>
