@import '../common/styles/variables';

.Widget {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-normal;
  color: $color-black;
  background-color: $color-white;
  min-width: 250px;

  .with-tooltip {
    position: relative;
  }
}
