@import '../common/styles/variables';

.Widget {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-normal;
  color: $color-black;
  background-color: $color-white;
  min-width: 250px;

  .with-tooltip {
    position: relative;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}
