@import '../../../styles/variables';

.Message {

  &.a-centered {
    width: 85% !important;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
