@import 'src/common/styles/variables';

.Backoffice .Date {

  input {
    border: none;
    box-shadow: none;
    text-shadow: 0 0 0 gray;
    color: $color-black;
    display: inline-block;
    width: 96px;
    vertical-align: middle;
    padding-left: 0.25rem;
    padding-right: 0.25rem;


    &::placeholder {
      color: $color-black;
      opacity: 1;
    }
  }
}
