@import 'src/common/styles/variables';

.Backoffice .Stats {

  .main {

    @include box();

    &.with-details {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: $font-weight-boldest;

      div {
        display: inline;
      }

      .description {
        font-size: 1.125rem;
        color: $color-black-60;
        font-weight: $font-weight-bold;
      }
    }

    .stats {
      padding-right: 1rem;
      padding-left: 1rem;
      border-right: 1px solid $color-grey-25;
      flex-grow: 1;
      text-align: center;

      &:last-child {
        border-right: none;
      }

      .name {
        font-size: 0.875rem;
        text-transform: uppercase;
      }

      .value {
        font-size: 2rem;
        font-weight: $font-weight-boldest;

        &.highlighted {
          color: $color-orange
        }

        &.compare {
          font-size: 1.125rem;
          color: $color-black-60;
          font-weight: $font-weight-normal;
        }
      }
    }
  }

  .details {
    background-color: $color-grey-5;
    padding: 1rem;
    border-right: 2px solid $color-white;
    box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.15);
    flex-grow: 0.3;

    &:last-child {
      border-bottom-right-radius: 8px;
      border-right: unset;
    }

    &:first-child {
      flex-grow: 0.4;
      border-bottom-left-radius: 8px;
    }

    .stats {

      .name {
        font-size: 0.875rem;
        text-transform: uppercase;
      }

      .value {
        font-size: 2rem;
        font-weight: $font-weight-boldest;
      }
    }
  }


}
