@import '../../../../../../styles/variables';

.AvisTitle {

  .identifiant {
    font-size: 0.875rem;
    color: $color-grey-50;
    line-height: 1.5em;
    margin-top: 0.5rem;
    opacity: 0.75;
  }
}
