@import '../../../../../styles/variables';

.StatsPanel {

  background-color: $color-grey-5;

  .stats-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: $font-weight-900;
  }

  .stats {

    @include box();

    .chart {

      width: 300px;
      border-right: solid 1px $color-grey-25;
      padding: 1rem;
      margin-right: 1rem;

      &.last {
        border-right: unset;
      }

      .title {
        font-size: 1.125rem;
        font-weight: $font-weight-700;
      }

      .description {
        font-size: 0.875rem;
        padding-bottom: 1rem;
        opacity: 0.6;
      }
    }
  }
}

