@import '../../../../../../styles/variables';

.Description {

  font-size: 1.125rem;
  font-weight: $font-weight-400;
  text-align: center;
  position: relative;

  .status {
    font-weight: $font-weight-700;
  }

  .identifiant {
    font-size: 0.875rem;
    color: $color-grey-50;
    line-height: 1.5em;
    margin-top: 0.5rem;
    opacity: 0.75;
  }

  .summary {
    padding-top: 4px;
    color: $color-grey-50;
    font-weight: $font-weight-400;
    font-size: 0.875rem;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.75;
  }
}
